/* Ocultar el checkbox predeterminado */
/* input[type="checkbox"] {
    display: none;
} */

/* .efecto-sombra {
  filter: drop-shadow(0 0 10px lime) 
          drop-shadow(0 0 20px green);
} */

.sombra-verde {
  -webkit-filter: 
    drop-shadow(-1px 0 0 green)
    drop-shadow(0 1px 0 green);
  filter: 
    drop-shadow(-1px 0 0 green)
    drop-shadow(0 1px 0 green);
}

.sombra-violeta {
  -webkit-filter: 
    drop-shadow(-1px 0 0 rgb(70, 0, 128))
    drop-shadow(0 1px 0 rgb(70, 0, 128));
  filter: 
    drop-shadow(-1px 0 0 rgb(70, 0, 128))
    drop-shadow(0 1px 0 rgb(70, 0, 128));
}

.sombra-naranja {
  -webkit-filter: 
    drop-shadow(-1px 0 0 rgb(255, 128, 0))
    drop-shadow(0 1px 0 rgb(255, 128, 0));
  filter: 
    drop-shadow(-1px 0 0 rgb(255, 128, 0))
    drop-shadow(0 1px 0 rgb(255, 128, 0));
}



/* Estilo para el contenedor del checkbox personalizado */
.custom-checkbox {
   
    /* display: none; */
    display: inline-block;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #ccc;
    border-radius: 50%;
    position: relative;
    transition: all 0.3s ease;
}

/* Forma de corazón cuando está marcado */
.custom-checkbox:before {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: transparent;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 50% 80%, 18% 100%, 0% 38%);
    transition: all 0.3s ease;
}

/* Cambiar el corazón a rojo si está marcado */
input[type="checkbox"]:checked + .custom-checkbox:before {
    background-color: red;
}

/* NO FUNCIONA! */
.custom-popover {
    --bs-popover-max-width: 200px;
    --bs-popover-border-color: var(--bd-violet-bg);
    --bs-popover-header-bg: var(--bd-violet-bg);
    --bs-popover-header-color: var(--bs-white);
    --bs-popover-body-padding-x: 1rem;
    --bs-popover-body-padding-y: .5rem;
  }