/* * {
    max-width: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* .armado {
   
   display: flex;
    flex-direction: column; 
    background-color: blue;
}

.formulario-busqueda {
background-color: rgb(194, 2, 85);
} */