<h6 class="dropdown-header">
  Centro de Mensajes
</h6>

{% for usuario, mensaje in mensajes.items %}
  <a class="dropdown-item d-flex align-items-center js-open-chat-modal"
     href="{% url 'enviar-mensaje' usuario %}"
     data-chat-url="{% url 'enviar-mensaje' usuario %}">

    <div class="dropdown-list-image mr-3">
      <img class="rounded-circle" src="{{ mensaje.avatar_url }}" alt="{{ usuario }}">

      {% if not mensaje.mensaje.leido %}
        <div class="status-indicator bg-success"></div>
      {% endif %}
    </div>

    <div class="font-weight-bold w-100" style="min-width: 0;">
      <div class="text-truncate">{{ usuario }}</div>

      <div class="d-flex align-items-center small text-muted" style="min-width: 0;">
        <div class="text-truncate" style="min-width: 0;">
          {{ mensaje.mensaje.contenido }}
        </div>

        <div class="flex-shrink-0 ms-1">
          ·
          {% if mensaje.mensaje.creado_el == 0 %}
            Hoy
          {% else %}
            {{ mensaje.mensaje.creado_el }} días
          {% endif %}
        </div>
      </div>
    </div>
  </a>
{% empty %}
  <p class="dropdown-item text-center small text-gray-500 mb-0">
    No tienes conversaciones.
  </p>
{% endfor %}


<h6 class="dropdown-header">
  Nuevo mensaje
</h6>

{% if amigues_nuevo_mensaje %}
  {% for amigue in amigues_nuevo_mensaje %}
    <a class="dropdown-item small js-open-chat-modal"
       href="{% url 'enviar-mensaje' amigue %}"
       data-chat-url="{% url 'enviar-mensaje' amigue %}">
      Escribir a {{ amigue }}
    </a>
  {% endfor %}
{% else %}
  <p class="dropdown-item text-center small text-gray-500 mb-0">
  http://127.0.0.1:8000/videos/list/filtro/#  No hay otros amigues para iniciar chat.
  </p>
{% endif %}
http://127.0.0.1:8000/videos/list/filtro/#