{% if lugares_compartidos %}
  <section class="container my-3">
    <div class="alert alert-info shadow-sm rounded-4">
      <h5 class="mb-3">
        <i class="fa-solid fa-share-nodes me-2"></i>
        Lugares compartidos con vos
      </h5>

      {% for lugar in lugares_compartidos %}
        <div class="d-flex justify-content-between align-items-center border-top pt-2 mt-2">
          <div>
            <strong>{{ lugar.nombre }}</strong>
            <div class="small text-muted">
              Compartido por {{ lugar.usuario_que_envia }}
            </div>

            {% if lugar.mensaje %}
              <div class="small">“{{ lugar.mensaje }}”</div>
            {% endif %}
          </div>

          <a
            href="{% url 'agregar-lugar-compartido' lugar.id_lugar lugar.compartido_id %}"
            class="btn btn-sm btn-primary"
          >
            Agregar lugar
          </a>
        </div>
      {% endfor %}
    </div>
  </section>
{% endif %}