
<!-- ESTAS SON LAS TARJETAS DE COMPARTIDOS -->
<section class="w-100 py-2">
  <div class="container">
      
          {% if platos_compartidos %}


          <div class="d-flex flex-wrap gap-2 justify-content-center text-center">
            {% for plato_compartido in platos_compartidos %}
              <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                <div class="card h-100">
          
                  <img src="{{ plato_compartido.image_url }}" class="img-thumbnail" alt="Imagen">
          
                  <div class="card-body text-center">
                    <div class="position-absolute top-0 mt-1 start-50 translate-middle-x text-center text-white bg-dark rounded">
                      <h6 class="mb-0 small">{{ plato_compartido.nombre_plato }} de {{ plato_compartido.quien_comparte }}</h6>
                    </div>
          
                    <h6>{{ plato_compartido.mensaje }}</h6>
          
                    <div class="d-flex gap-1 align-items-center justify-content-center">
                      <a class="btn btn-primary btn-sm" href="{% url 'agregar-plato-compartido' plato_compartido.id_plato plato_compartido.mensaje_id %}">Agregar a mi lista</a>
                      <a class="btn btn-primary btn-sm" href="">Rechazar</a>
                    </div>
                  </div>
          
                </div>
              </div>
            {% endfor %}
          </div>
          




          {% endif %}
      
  </div>
</section>

