{% extends "AdminVideos/base.html" %}

{% load static %}

{% block principal %}

  <!-- Logout Modal-->
  <!-- <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
            </div>
        </div>
    </div>
</div> -->
<!-- 
<div class="album py-5 bg-light">
  <div class="container">
    <section class="py-1 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-8 col-md-8 mx-auto">
            <h1 class="fw-light">Saliste del sistema.</h1>
            <p class="lead text-body-secondary">¡Hasta pronto! Gracias por formar parte de Qué Comemos.</p>
          </div>
        </div>
    </section>
  </div>
</div> -->
{% endblock %}
