<!DOCTYPE html>
<html lang="es-AR">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>¿Qué cómemos? · V1.0 - Crear cuenta</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'AdminVideos/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'AdminVideos/css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Crear cuenta:</h1>
                            </div>
                            

                         

                            <form class="user" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                            
                                <!-- Usuario -->
                                <div class="form-group">
                                    <input 
                                        type="text" 
                                        name="username" 
                                        value="{{ form.username.value|default_if_none:'' }}" 
                                        class="form-control form-control-user {% if form.username.errors %}is-invalid{% endif %}" 
                                        autocapitalize="none" 
                                        autocomplete="username" 
                                        autofocus="" 
                                        required="" 
                                        aria-describedby="id_username_helptext" 
                                        id="id_username" 
                                        placeholder="Usuario">
                                    {% if form.is_bound and form.username.errors %}
                                    <div class="text-danger small mt-1">
                                        {% for error in form.username.errors %}
                                            <div>{{ error }}</div>
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                </div>
                            
                                <!-- Contraseña -->
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input class="form-control form-control-user"
                                        type="password" name="password1" autocomplete="new-password" required="" aria-describedby="id_password1_helptext" id="id_password1" placeholder="Contraseña">
                                        {% if form.is_bound and form.password1.errors %}
                                        <div class="text-danger small mt-1">
                                            {% for error in form.password1.errors %}
                                                <div>{{ error }}</div>
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                    </div>
                            
                                    <div class="col-sm-6">
                                        <input type="password" name="password2" autocomplete="new-password" required="" aria-describedby="id_password2_helptext" id="id_password2" class="form-control form-control-user" placeholder="Repetí la Contraseña">
                                        {% if form.is_bound and form.password2.errors %}
                                        <div class="text-danger small mt-1">
                                            {% for error in form.password2.errors %}
                                                <div>{{ error }}</div>
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            
                                <input class="btn btn-primary btn-user btn-block" type="submit" value="Registrarse">
                            </form>
                            
                            
                            




                            <hr>
                            <div class="text-center">
                                <a class="small" href="forgot-password.html">¿Olvidaste tu contraseña?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="{% url 'login' %}">¿Tenés una cuenta? Iniciá Sesión</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
   
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Obtener todos los campos de formulario
            const usernameField = document.querySelector('#id_username');
            const password1Field = document.querySelector('#id_password1');
            const password2Field = document.querySelector('#id_password2');
        
            // Inyectar los errores directamente como valores de JavaScript
            const usernameErrors = {{ form.username.errors|length|default:0 }};
            const password1Errors = {{ form.password1.errors|length|default:0 }};
            const password2Errors = {{ form.password2.errors|length|default:0 }};
        
            // Activar el campo correspondiente dependiendo del error
            if (password1Errors > 0 || password2Errors > 0) {
                // Si hay error en alguna de las contraseñas, poner el foco en el primer campo de contraseña
                password1Field.focus();
            } else if (usernameErrors > 0) {
                // Si hay error en el username, poner el foco en el campo de username
                usernameField.focus();
            }
        
            // Eliminar mensajes de error y clases 'is-invalid' cuando el usuario empieza a escribir
            const inputs = document.querySelectorAll('.form-control');
            inputs.forEach(function(input) {
                input.addEventListener('input', function() {
                    // Quitar las clases de error si están presentes
                    input.classList.remove('is-invalid');
                        
                    // Eliminar el texto de error cercano
                    const formGroup = input.closest('.form-group, .form-group.row, .col-sm-6');
                    if (formGroup) {
                        const errorDiv = formGroup.querySelector('.text-danger');
                        if (errorDiv) {
                            errorDiv.remove();  // Eliminar el error cuando el usuario empieza a tipear
                        }
                    }
                });
            });
        });
    </script>
    
        
        

  <!-- Bootstrap core JavaScript-->
  <script src="/AdminVideos/static/AdminVideos/vendor/jquery/jquery.min.js"></script>
  <script src="/AdminVideos/static/AdminVideos/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/AdminVideos/static/AdminVideos/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/AdminVideos/static/AdminVideos/js/sb-admin-2.min.js"></script>


</body>

</html>

