{% extends "AdminVideos/base.html" %}

{% load static %}

{% block pestanias-menues-platos %}
<div class="container"> 
  <div class="row">
      <div class="d-flex flex-column align-items-center">
        <img src="/media/avatares/logo.png" height="200" alt="Logo">
        <h1 class="fw-light">Sobre 'qué comemos' v1.0.</h1>
        <p class="lead text-body-secondary">Explicación</p>
        <p></p>
        <!-- <h2 class="fw-light">Sobre mi.</h2>
        <p></p>
        <h6> Explicación.</h6> -->
      </div>
  </div>
</div>

{% endblock %}