<!DOCTYPE html>
<html lang="es-AR">

<head>
    {% load static %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/album/">
    <link href="{% static 'AdminVideos/css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'AdminVideos/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href="{% static 'AdminVideos/css/sb-admin-2.min.css' %}" rel="stylesheet">

    <!-- mi css -->
    <link href="{% static 'AdminVideos/css/mi-css.css' %}" rel="stylesheet">

    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"> -->

    <title>¿Qué cómemos? · V1.0</title>


</head>

<body id="page-top" class="sidebar-toggled">
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'about' %}">
                <div class="sidebar-brand-icon">
                    <img src="/media/avatares/logo.png" height="60" alt="Logo">
                </div>
                <!-- <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div> -->
            </a>

            <!-- Divider -->
            <!-- <hr class="sidebar-divider my-0"> -->

            <!-- Nav Item - Dashboard -->
            
            {% if parametro == "Dash" %} 
                <li class="nav-item active">
            {% else %}
                <li class="nav-item">
            {% endif %}
                    <a class="nav-link" href="{% url 'filtro-de-platos' %}?tipopag=Dash">
                        <!-- <i class="fas fa-fw fa-tachometer-alt "></i> -->
                        <i class="fa-solid fa-grip" style="font-size: 2rem;"></i>
                        <span>Todos</span></a>
                </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

             <!-- Heading -->
             <!-- <div class="sidebar-heading">
                AGREGAR
            </div> -->

            <!-- Nav Item - Utilities Collapse Menu -->

            {% if parametro == "Entrada" %} 
                <li class="nav-item active">
            {% else %}
                <li class="nav-item">
            {% endif %}

               <a class="nav-link" href="{% url 'filtro-de-platos' %}?tipopag=Entrada">
                    <i class="fa-solid fa-shrimp" style="font-size: 1.3rem;"></i>
                    <span>Entradas</span>
                </a>
            </li>

            {% if parametro == "Dip" %} 
                <li class="nav-item active">
            {% else %}
                <li class="nav-item">
            {% endif %}

                <a class="nav-link" href="{% url 'filtro-de-platos' %}?tipopag=Dip">
                    <i class="fas fa-solid fa-bowl-rice" style="font-size: 1.3rem;"></i>
                    <span>Dips y Salsas</span>
                </a>
            </li>


            {% if parametro == "Principal" %} 
                <li class="nav-item active">
            {% else %}
                <li class="nav-item">
            {% endif %}
                    <a class="nav-link" href="{% url 'filtro-de-platos' %}?tipopag=Principal">
                        <i class="fa-solid fa-utensils" style="font-size: 1.3rem;"></i>
                        <span>Platos Principales</span>
                    </a>
                </li>
            
            <!-- {% if parametro == "Salsa" %} 
                <li class="nav-item active">
            {% else %}
                <li class="nav-item">
            {% endif %}
                    <a class="nav-link" href="{% url 'filtro-de-platos' %}?tipopag=Salsa">
                        <i class="fa-solid fa-pepper-hot" style="font-size: 1.3rem;"></i>
                        <span>Salsas</span>
                    </a>
                </li> -->

            {% if parametro == "Guarnicion" %} 
                <li class="nav-item active">
            {% else %}
                <li class="nav-item">
            {% endif %}
                    <a class="nav-link" href="{% url 'filtro-de-platos' %}?tipopag=Guarnicion">
                        <i class="fa-solid fa-plate-wheat" style="font-size: 1.3rem;"></i>
                        <span>Guarniciones</span>
                    </a>
                </li>

            {% if parametro == "Postre" %} 
                <li class="nav-item active">
            {% else %}
                <li class="nav-item">
            {% endif %}
                    <a class="nav-link" href="{% url 'filtro-de-platos' %}?tipopag=Postre">
                        <i class="fa-solid fa-ice-cream" style="font-size: 1.3rem;"></i>
                        <span>Postres</span>
                        <span>Reposterías</span>
                    </a>
                </li>

            {% if parametro == "Trago" %} 
                <li class="nav-item active">
            {% else %}
                <li class="nav-item">
            {% endif %}                
                    <a class="nav-link" href="{% url 'filtro-de-platos' %}?tipopag=Trago">
                        <i class="fa-solid fa-martini-glass-citrus" style="font-size: 1.3rem;"></i>
                        <span>Tragos</span>
                    </a>
                </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">
<!-- 
            <li class="nav-item">
                <a class="nav-link" href="{% url 'filtro-de-platos' %}?tipopag=Dash">
                    DERIVAR A MENU DE DÍAS 
                    <i class="fa-solid fa-calendar-days" style="font-size: 2rem;"></i>
                    <span>Menú</span>
                </a>
            </li> -->

            {% if parametro == "lista-compras" %} 
                <li class="nav-item active">
            {% else %}
                <li class="nav-item">
            {% endif %}
                    <a class="nav-link" href="{% url 'menu-elegido' %}">
                        <i class="fa-solid fa-list-check" style="font-size: 2rem;"></i>
                        <span>Lista de Compras</span>
                    </a>
                </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">


            {% if parametro == "amigues" %} 
                <li class="nav-item active">
            {% else %}
                <li class="nav-item">
            {% endif %}
                    <a class="nav-link" href="{% url 'amigues' %}">
                        <i class="fa-regular fa-address-book" style="font-size: 2rem;"></i>
                        <span>Amigues</span>
                    </a>
                </li>

             <!-- Divider -->
             <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline" >
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>



                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                <!-- <span class="badge badge-danger badge-counter">3+</span> -->
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Notificaciones
                                </h6>
                                <!-- <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 12, 2019</div>
                                        <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                    </div>
                                </a> -->
                                <!-- <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-success">
                                            <i class="fas fa-donate text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 7, 2019</div>
                                        $290.29 has been deposited into your account!
                                    </div>
                                </a> -->
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <!-- <div class="small text-gray-500">December 2, 2019</div> -->
                                        No hay notificaciones.
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Mostrar Todas Las Notificaciones</a>
                            </div>
                        </li>
                        
                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                <!-- Counter - Messages -->
                                <span class="badge badge-danger badge-counter">7</span>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Centro de Mensajes
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_1.svg" alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div class="text-truncate">Hi there! I am wondering if you can help me with a
                                            problem I've been having.</div>
                                        <div class="small text-gray-500">Emily Fowler · 58m</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_2.svg" alt="...">
                                        <div class="status-indicator"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">I have the photos that you ordered last month, how
                                            would you like them sent to you?</div>
                                        <div class="small text-gray-500">Jae Chun · 1d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_3.svg" alt="...">
                                        <div class="status-indicator bg-warning"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Last month's report looks great, I am very happy with
                                            the progress so far, keep up the good work!</div>
                                        <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                                            alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Am I a good boy? The reason I ask is because someone
                                            told me that people say this to all dogs, even if they aren't good...</div>
                                        <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Leer más mensajes</a>

                                <a href="{% url 'mensaje-list' %}" class="dropdown-item text-center small ">
                                    <strong>Recibidos</strong>
                                </a>

                                <a href="{% url 'solicitar-amistad' %}" class="dropdown-item text-center small ">
                                    <strong>Solicitar amistad</strong>
                                </a>

                                <a href="{% url 'enviar-mensaje' %}" class="dropdown-item text-center small ">
                                    <strong>Enviar mensaje</strong>
                                </a>
                                
                                <a href="" class="dropdown-item text-center small">
                                    <strong>Enviados</strong>
                                </a>
                                
                            </div>
                        </li>

                        <!-- Nav Item - CHAT -->
                         
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa-solid fa-comments"></i>
                                <!-- Counter - Messages -->
                                <span class="badge badge-danger badge-counter">7</span>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Chat
                                </h6>

                                <!-- % for chat in chats % -->
                                {% for mensaje in mensajes %}
                                    <p>

                                        <div class="card mx-auto w-75" >
                                            <div class="card-body">
                                            <h5 class="card-title">Mensaje de {{ mensaje.usuario_que_envia }}</h5>
                                            <!-- <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6> -->
                                            <p class="card-text border">{{ mensaje.mensaje }}</p>
                                            <p class="card-text small text-muted" align="right"><i>{{mensaje.creado_el}}</i>
                                            <a href="#" class="card-link">Responder</a></p>
                                            <!-- <a href="#" class="card-link">Another link</a> -->
                                        
                                        
                                        {% if mensaje.amistad %}
                                            {% if mensaje.amistad == "solicitar" or mensaje.amistad == "mensaje" %}
                                                <!-- Cada mensaje tiene su propio formulario -->
                                                {% if mensaje.usuario_que_envia not in amigues %}

                                                <form action="{% url 'sumar-amigue' %}" method="POST">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="amigue_usuario" value="{{ mensaje.usuario_que_envia }}">
                                                    <button type="submit">Aceptar amistad {{ mensaje.usuario_que_envia }}</button>
                                                </form>
                                            
                                    
                                                {% else %}
                                                <p>AMIGO ACEPTADO</p>
                                                {% endif %}

                                            {% else %}
                                
                                                <form action="" method="POST">
                                                {% csrf_token %}
                                                <input type="hidden" name="" value="">
                                                <button type="submit">agregar a mi lista el plato {{mensaje.amistad}} que envía {{ mensaje.usuario_que_envia }}</button>
                                                
                                                    <!-- <img src="{{platos_dict.id.image_url}}" class="img-fluid position-relative object-fit-cover" alt="Imagen del Plato"> -->

                                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#PlatoModal{{mensaje.amistad}}">
                                                    Ver plato {{mensaje.nombre_plato_compartido}}
                                                </a>

                                                <a class="btn btn-primary" href="{% url 'agregar-plato-compartido' mensaje.amistad %}">Agregar a mi lista</a>
                                                <a class="btn btn-primary" href="">Rechazar</a>
                                            {% endif %}
                                        {% endif %}
                                        
                                        <br>
                                        <a href="{% url 'mensaje-delete' mensaje.id %}">Borrar</a>

                                        <!-- cierre de card -->
                                        </div>
                                        </div>
                                    </p>
                                    </center>
                                {% endfor %}

                                <!-- cada una  -->
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_1.svg" alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div class="text-truncate">Hi there! I am wondering if you can help me with a
                                            problem I've been having.</div>
                                        <div class="small text-gray-500">Emily Fowler · 58m</div>
                                    </div>
                                </a>

                                <!-- ----------- -->

                                <a class="dropdown-item text-center small text-gray-500" href="#">Leer más mensajes</a>

                                <a href="{% url 'mensaje-list' %}" class="dropdown-item text-center small ">
                                    <strong>Recibidos</strong>
                                </a>

                                <a href="{% url 'solicitar-amistad' %}" class="dropdown-item text-center small ">
                                    <strong>Solicitar amistad</strong>
                                </a>

                                <a href="{% url 'enviar-mensaje' %}" class="dropdown-item text-center small ">
                                    <strong>Enviar mensaje</strong>
                                </a>
                                
                                <a href="" class="dropdown-item text-center small">
                                    <strong>Enviados</strong>
                                </a>
                                
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>


                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" id="userDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {% if  user.username  != "quecomemos" %}
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{user.username}}
                                        ({{user.profile.nombre}})</span>
                                    <img class="img-profile rounded-circle" src="{{user.profile.avatar_url}}">
                                {% else %}
                                        <span class="small border rounded bg-success text-white">MODO ADMINISTRADOR</span>
                                {% endif %}
                            </a>


                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                    aria-labelledby="userDropdown">

                                {% if user.profile %}
                                    <a class="dropdown-item" href="{% url 'profile-update' user.profile.id %}">
                                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Actualizar Perfil
                                    </a>
            
                                {% else %}
                                    <a class="dropdown-item" href="{% url 'profile-create' %}">
                                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Completar Perfil
                                    </a>
                                    
                                {% endif %}    

                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Seteos
                                </a>

                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Salir
                                </a>
                            </div> 
                        </li>
                        
                    </ul>

                </nav>
                <!-- End of Topbar -->

                <div class="container-fluid">

                    <div class="row">
                        <div class="col">
                  
                          <div class="d-flex flex-wrap justify-content-between">
                            <!-- <p>DIAS DESDE HOY: {{ dias_desde_hoy }}</p>
                            <p>DIAS programados: {{ dias_programados }}</p> -->


                                {% for dia in dias_desde_hoy %}
                                <a href="{% url 'formulario-dia' dia=dia|date:'Y-m-d' %}" 
                                    class={% if dia in dias_programados %} "bg-success" {% else %}"bg-primary" {% endif %}>
                                    <div class="text-white p-3 small border border-dark al"> 
                                    <p>{{ dia|date:"l j" }}</p>
                               
                                    </div>
                                </a>
                                {% endfor %}
                  
                           </div>
                        </div>
                    </div>
                  <!-- </div> -->
                  
                  <hr>

                  {% block filtro %}
                  {% endblock %}
                 <!-- Divider -->
                
                    <!-- Begin Page Content -->

                    <!-- <div class="container-fluid"> -->
                  {% block principal %}
                  {% endblock %}

                    <!-- </div> -->
                    <!-- /.container-fluid -->

                </div>
            </div>

            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright ¿Qué comemos? V1.0© 2024</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->


        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top" style="display: none;">
        <i class="fas fa-angle-up"></i>
    </a>


    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">¿Querés salir?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Seleccioná "Salir" si estás listo para cerrar la sesión.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-primary" href="{% url 'logout' %}">Salir</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/AdminVideos/static/AdminVideos/vendor/jquery/jquery.min.js"></script>
    <script src="/AdminVideos/static/AdminVideos/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/AdminVideos/static/AdminVideos/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/AdminVideos/static/AdminVideos/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/AdminVideos/static/AdminVideos/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/AdminVideos/static/AdminVideos/js/demo/chart-area-demo.js"></script>
    <script src="/AdminVideos/static/AdminVideos/js/demo/chart-pie-demo.js"></script>

    <!-- VIEJA PLANTILLA SCRIPT -->

    <script src="/AdminVideos/static/AdminVideos/js/bootstrap.bundle.min.js"></script>
</body>

</html>

