<!DOCTYPE html>
<html lang="es-AR">

<head>
    {% load static %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/album/">
    <link href="{% static 'AdminVideos/css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'AdminVideos/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    
    <!-- mi css -->
    <link href="{% static 'AdminVideos/css/mi-css.css' %}" rel="stylesheet">
    
    <link href="{% static 'AdminVideos/css/sb-admin-2.min.css' %}" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet">

    <title>¿Qué cómemos? · V1.0</title>


</head>

<body id="page-top" class="sidebar-toggled">
    <!-- Page Wrapper -->
    <div id="wrapper" style="background-color: rgb(255, 255, 255);">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'about' %}">
                <div class="sidebar-brand-icon">
                    <img src="/media/avatares/logo.png" height="60" alt="Logo">
                </div>
            </a>

            {% if parametro == "Dash" %}
                <li class="nav-item active">
            {% else %}
                <li class="nav-item">
            {% endif %}
                    <a class="nav-link" href="{% url 'filtro-de-platos' %}?tipopag=Dash">
                        <i class="fa-solid fa-grip" style="font-size: 2rem;"></i>
                        <span>Todos</span></a>
                </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

          
            <!-- Nav Item - Utilities Collapse Menu -->

            {% if parametro == "Entrada" %}
                <li class="nav-item active">
            {% else %}
                <li class="nav-item">
            {% endif %}

                <a class="nav-link" href="{% url 'filtro-de-platos' %}?tipopag=Entrada{% if dia_activo %}&dia_activo={{ dia_activo }}{% endif %}">
                    <i class="fa-solid fa-shrimp" style="font-size: 1.3rem;"></i>
                    <span>Entradas</span>
                </a>
          
            </li>

            {% if parametro == "Dip" %}
                <li class="nav-item active">
            {% else %}
                <li class="nav-item">
            {% endif %}

                <a class="nav-link" href="{% url 'filtro-de-platos' %}?tipopag=Dip">
                    <i class="fas fa-solid fa-bowl-rice" style="font-size: 1.3rem;"></i>
                    <span>Dips y Salsas</span>
                </a>
            </li>


            {% if parametro == "Principal" %}
                <li class="nav-item active">
            {% else %}
                <li class="nav-item">
            {% endif %}
                    <a class="nav-link" href="{% url 'filtro-de-platos' %}?tipopag=Principal">
                        <i class="fa-solid fa-utensils" style="font-size: 1.3rem;"></i>
                        <span>Platos Principales</span>
                    </a>
                </li>


            {% if parametro == "Guarnicion" %}
                <li class="nav-item active">
            {% else %}
                <li class="nav-item">
            {% endif %}
                    <a class="nav-link" href="{% url 'filtro-de-platos' %}?tipopag=Guarnicion">
                        <i class="fa-solid fa-plate-wheat" style="font-size: 1.3rem;"></i>
                        <span>Guarniciones</span>
                    </a>
                </li>

            {% if parametro == "Postre" %}
                <li class="nav-item active">
            {% else %}
                <li class="nav-item">
            {% endif %}
                    <a class="nav-link" href="{% url 'filtro-de-platos' %}?tipopag=Postre">
                        <i class="fa-solid fa-ice-cream" style="font-size: 1.3rem;"></i>
                        <span>Postres</span>
                        <span>Reposterías</span>
                    </a>
                </li>

            {% if parametro == "Trago" %}
                <li class="nav-item active">
            {% else %}
                <li class="nav-item">
            {% endif %}
                    <a class="nav-link" href="{% url 'filtro-de-platos' %}?tipopag=Trago">
                        <i class="fa-solid fa-martini-glass-citrus" style="font-size: 1.3rem;"></i>
                        <span>Tragos</span>
                    </a>
                </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            {% if parametro == "Delivery" %}
                <li class="nav-item active">
            {% else %}
                <li class="nav-item">
            {% endif %}
                <a class="nav-link" href="{% url 'filtro-de-platos' %}?tipopag=Delivery">
                    <i class="fa-solid fa-mobile-screen-button" style="font-size: 1.3rem;"></i>
                    <span>Delivery</span>
                </a>
            </li>


            {% if parametro == "Comerafuera" %}
             <li class="nav-item active">
            {% else %}
                <li class="nav-item">
            {% endif %}
                <a class="nav-link" href="{% url 'filtro-de-platos' %}?tipopag=Comerafuera">
                    <i class="fa-solid fa-person-walking-dashed-line-arrow-right" style="font-size: 1.3rem;"></i>
                    <span>Comer afuera</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            {% if parametro == "lista-compras" %}
                <li class="nav-item active">
            {% else %}
                <li class="nav-item">
            {% endif %}
                    <a class="nav-link" href="{% url 'menu-elegido' %}">
                        <i class="fa-solid fa-list-check" style="font-size: 2rem;"></i>
                        <span>Lista de Compras</span>
                    </a>
                </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">


            {% if parametro == "amigues" %}
                <li class="nav-item active">
            {% else %}
                <li class="nav-item">
            {% endif %}
                    <a class="nav-link" href="{% url 'amigues' %}">
                        <i class="fa-regular fa-address-book" style="font-size: 2rem;"></i>
                        <span>Amigues</span>
                    </a>
                </li>


             <!-- Divider -->
             <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline" >
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" style="background-color: rgb(230, 230, 230);" class="d-flex flex-column">
        
        <!-- COLOR PARA UBICAR
        <div id="content-wrapper" style="background-color: rgb(255, 0, 255);" class="d-flex flex-column"></div> -->

            <!-- Main Content -->
            <!-- <div id="content"> -->

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-2 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                <!-- <span class="badge badge-danger badge-counter">3+</span> -->
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Notificaciones
                                </h6>
                               
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <!-- <div class="small text-gray-500">December 2, 2019</div> -->
                                        No hay notificaciones.
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Mostrar Todas Las Notificaciones</a>
                            </div>
                        </li>

                       <!-- Nav Item - CHAT -->



                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa-solid fa-comments"></i>
                                <!-- Counter - Messages -->
                                <span class="badge badge-danger badge-counter">7</span>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in overflow-auto" style="max-height: 600px;"
                                aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Centro de Mensajes
                                </h6>



                                <!-- cada una  -->

                                {% for usuario, mensaje in mensajes.items %}
                                    <a class="dropdown-item d-flex align-items-center" href="{% url 'enviar-mensaje' usuario %}">
                                        <div class="dropdown-list-image mr-3">
                                            <img class="rounded-circle" src="{{ mensaje.avatar_url }}" alt="{{ usuario }}">

                                            {% if not mensaje.mensaje.leido %}
                                                <div class="status-indicator bg-success"></div>
                                            {% endif %}
                                        </div>
                                        <div class="font-weight-bold">
                                            <div class="text-truncate">{{ usuario }}</div>

                                            <div class="d-flex justify-content-between">
                                                <!-- Mensaje -->
                                                <div class="small text-truncate"> {{ mensaje.mensaje.contenido }} </div>
                                        
                                                <!-- Fecha de creación -->
                                                <div class="small text-gray-600">
                                                    {% if mensaje.mensaje.creado_el == 0 %}
                                                        Hoy
                                                    {% else %}
                                                    &nbsp;·&nbsp;{{ mensaje.mensaje.creado_el }} días
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                {% empty %}
                                    <p>No tienes mensajes.</p>
                                {% endfor %}

                                <a href="{% url 'solicitar-amistad' %}" class="dropdown-item text-center small ">
                                    <strong>Solicitar amistad</strong>
                                </a>


                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>



                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" id="userDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {% if  user.username  != "quecomemos" %}
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{user.username}}
                                        ({{user.profile.nombre}})</span>
                                    <img class="img-profile rounded-circle" src="{{user.profile.avatar_url}}">
                                {% else %}
                                        <span class="small border rounded bg-success text-white">MODO ADMINISTRADOR</span>
                                {% endif %}
                            </a>


                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                    aria-labelledby="userDropdown">

                                {% if user.profile %}
                                    <a class="dropdown-item" href="{% url 'profile-update' user.profile.id %}">
                                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Actualizar Perfil
                                    </a>

                                {% else %}
                                    <a class="dropdown-item" href="{% url 'profile-create' %}">
                                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Completar Perfil
                                    </a>

                                {% endif %}

                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Seteos
                                </a>

                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Salir
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>

                <!-- End of Topbar -->


                <!-- <div class="container" style="background-color: rgb(255, 165, 165);"> -->
                   
                    <ul class="nav nav-tabs flex-nowrap overflow-auto border-0 w-100 justify-content-start" id="diasTab" role="tablist" style="white-space: nowrap;">
                        {% for dia in dias_desde_hoy %}
                        <li class="nav-item flex-fill" role="presentation" style="flex: 1 0 auto;">
                            <button 
                                class="nav-link {% if dia_activo == dia|date:'Y-m-d' %}active{% elif forloop.first and not dia_activo %}active{% endif %} text-center px-2" 
                                id="tab-{{ dia|date:'Y-m-d' }}" 
                                data-bs-toggle="tab" 
                                data-bs-target="#tab-content-{{ dia|date:'Y-m-d' }}" 
                                type="button" 
                                role="tab" 
                                aria-controls="tab-content-{{ dia|date:'Y-m-d' }}" 
                                aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">
                                
                                <span class="d-none d-md-block">
                                    {{ dia|date:"l j"|capfirst }}
                                    {% if dia in dias_programados %}
                                        <i class="bi bi-pin-angle-fill ms-2"></i> <!-- Icono pin al lado del nombre -->
                                    {% endif %}
                                </span>
                                <span class="d-block d-md-none">
                                    {{ dia|date:"D"|slice:":2"|upper }}<br>{{ dia|date:"j" }}
                                    {% if dia in dias_programados %}
                                        <i class="bi bi-pin-angle-fill"></i>
                                    {% endif %}
                                </span>
                            </button>
                        </li>
                        {% endfor %}
                    </ul>
                    
                
                    <!-- Tab Content -->
                    <div class="tab-content bg-white" id="diasTabContent">
                        {% for dia in dias_desde_hoy %}
                            <div class="tab-pane {% if dia_activo == dia|date:'Y-m-d' %}active{% elif forloop.first and not dia_activo %}active{% endif %}" 
                                id="tab-content-{{ dia|date:'Y-m-d' }}"
                                role="tabpanel"
                                aria-labelledby="tab-{{ dia|date:'Y-m-d' }}">

                                <div class="text-dark p-2 small">
                                    <!-- <p class="mb-1">Programado día {{ dia|date:"l j" }}</p>  -->
                                    <!-- <div class="row d-flex align-items-start">
                                        <div class="col p-2" style="max-height: 100px; overflow-y: auto; overflow-x: hidden; display: block;"> -->
                                        <div class="position-relative">

                                            <div class="border border-2 border-primary rounded p-4 mt-2 bg-light shadow-sm">
                                                <div class="row d-flex align-items-start">
                                                  <div class="col p-2" style="max-height: 100px; overflow-y: auto; overflow-x: hidden; display: block;">
                                                    
                                                    <!-- <div class="d-flex justify-content-center gap-3">
                                                        <h6 class="fw-bold bg-dark text-white p-2 rounded">Desayuno</h6>
                                                        <h6 class="fw-bold bg-dark text-white p-2 rounded">Almuerzo</h6>
                                                        <h6 class="fw-bold bg-dark text-white p-2 rounded">Merienda</h6>
                                                        <h6 class="fw-bold bg-dark text-white p-2 rounded">Cena</h6>
                                                      </div>
                                                       -->
                                                      

                {% if dia in platos_dia_x_dia %}
                                                       {% for dia_plato in platos_dia_x_dia.items %}
                                                {% if dia_plato.0 == dia %}
                                               
                                                    <div class="row">
                                                        <!-- Desayuno -->
                                                        <div class="col-md-3">
                                                            
                                                            <h6 class="fw-bold ml-3 bg-dark text-white p-2 rounded">Desayuno</h6>
                                                            {% if dia_plato.1.desayuno %}
                                                                {% for plato in dia_plato.1.desayuno %}
                                                                    <p class="mb-1 ml-3 d-flex align-items-center">
                                                                        {{ plato }}

                                                                        <a href="{% url 'eliminar-programado' nombre_plato=plato comida='desayuno' fecha=dia %}" class="btn btn-sm p-0 ml-2" title="Eliminar">
                                                                            <i class="fa-solid fa-trash-can"></i>
                                                                        </a>
                                                                      
                                                                    </p>
                                                                {% endfor %}
                                                            {% else %}
                                                                <p class="mb-1 ml-3 d-flex align-items-center">No hay platos programados.</p>
                                                            {% endif %}
                                                        </div>
                                            
                                                        <!-- Almuerzo -->
                                                        <div class="col-md-3">
                                                            <!-- <h6 class="fw-bold">Almuerzo</h6> -->
                                                            <h6 class="fw-bold ml-3 bg-dark text-white p-2 rounded">Almuerzo</h6>

                                                            {% if dia_plato.1.almuerzo %}
                                                                {% for plato in dia_plato.1.almuerzo %}
                                                                    <p class="mb-1 ml-3 d-flex align-items-center">
                                                                        {{ plato }}
                                                                        <a href="{% url 'eliminar-programado' nombre_plato=plato comida='almuerzo' fecha=dia %}" class="btn btn-sm p-0 ml-2" title="Eliminar">
                                                                            <i class="fa-solid fa-trash-can"></i>
                                                                        </a>
                                                                    </p>
                                                                {% endfor %}
                                                            {% else %}
                                                                <p class="mb-1 ml-3 d-flex align-items-center">No hay platos programados.</p>
                                                            {% endif %}
                                                        </div>
                                            
                                                        <!-- Merienda -->
                                                        <div class="col-md-3">
                                                            <!-- <h6 class="fw-bold">Merienda</h6> -->
                                                            <h6 class="fw-bold ml-3 bg-dark text-white p-2 rounded">Merienda</h6>

                                                            {% if dia_plato.1.merienda %}
                                                                {% for plato in dia_plato.1.merienda %}
                                                                    <p class="mb-1 ml-3 d-flex align-items-center">
                                                                        {{ plato }}

                                                                        <a href="{% url 'eliminar-programado' nombre_plato=plato comida='merienda' fecha=dia %}" class="btn btn-sm p-0 ml-2" title="Eliminar">
                                                                            <i class="fa-solid fa-trash-can"></i>
                                                                        </a>
                                                                    </p>
                                                                {% endfor %}
                                                            {% else %}
                                                                <p class="mb-1 ml-3 d-flex align-items-center">No hay platos programados.</p>
                                                            {% endif %}
                                                        </div>
                                            
                                                        <!-- Cena -->
                                                        <div class="col-md-3">
                                                            <!-- <h6 class="fw-bold">Cena</h6> -->
                                                            <h6 class="fw-bold ml-3 mr-3 bg-dark text-white p-2 rounded">Cena</h6>

                                                            {% if dia_plato.1.cena %}
                                                                {% for plato in dia_plato.1.cena %}
                                                                    <p class="mb-1 ml-3 d-flex align-items-center">
                                                                        {{ plato }}


                                                                        <a href="{% url 'eliminar-programado' nombre_plato=plato comida='cena' fecha=dia %}" class="btn btn-sm p-0 ml-2" title="Eliminar">
                                                                            <i class="fa-solid fa-trash-can"></i>
                                                                        </a>


                                                                    </p>
                                                                {% endfor %}
                                                            {% else %}
                                                                <p class="mb-1 ml-3 d-flex align-items-center">No hay platos programados.</p>
                                                            {% endif %}
                                                        </div>
                                                    </div>

                                                {% endif %}
                                            {% endfor %}
                                            {% else %}
                                            <h2 class="text-muted text-center mt-4" style="font-size: 1.2rem;">
                                                                                   
                                                Aún no programaste ningún plato para este día.
                                            </h2>
                                                                               
                                            {% endif %}      
                                        </div>
                                    </div>                      
                                </div>
                                <h6 class="position-absolute top-0 start-50 translate-middle bg-light text-primary px-1" style="transform: translate(-50%, -50%);">
                                    Menú programado
                                  </h6>
                                </div>
                                </div>
                            </div>
                        {% endfor %}

                        <div class="shadow rounded p-2 m-2 mb-0">
                            {% block filtro %}
                            {% endblock %}
                        </div>
    
                        <div class="my-3">
                            {% block principal %}
                            {% endblock %}
                        </div>
                    </div>

                    
                <!-- </div> -->

               
            <!-- </div> -->
                
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer"  style="background-color: rgb(222, 220, 220);">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright ¿Qué comemos? V1.0© 2025</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top" style="display: none;">
        <i class="fas fa-angle-up"></i>
    </a>


    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">¿Querés salir?</h5>
                    <button class="close" type="button" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Seleccioná "Salir" si estás listo para cerrar la sesión.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancelar</button>
                    <a class="btn btn-primary" href="{% url 'logout' %}">Salir</a>
                </div>
            </div>
        </div>
    </div>

    <!-- <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Detectamos el tab activo al hacer clic en los enlaces de navegación
            document.querySelectorAll(".nav-link").forEach(link => {
                link.addEventListener("click", function(event) {
                    let activeTab = document.querySelector(".nav-tabs .nav-link.active");
                    if (activeTab) {
                        let diaActivo = activeTab.id.replace("tab-", "");  // Extraemos la fecha de la pestaña activa
                        let url = new URL(this.href, window.location.origin);
                        url.searchParams.set("dia_activo", diaActivo);  // Agregamos el día a la URL
                        this.href = url.toString();  // Actualizamos el `href`
                    }
                });
            });
        });
    </script>
    
   
    <script>

        // COMBINA AMBOS SCRIPT

        document.addEventListener("DOMContentLoaded", function() {
            let modal = document.getElementById("asignarPlatoModal");
            let tabs = document.querySelectorAll(".nav-link");

            // Función para actualizar los valores
            function actualizarDiaActivo() {
                let tabActivo = document.querySelector(".nav-link.active");
                if (tabActivo) {
                    let diaActivo = tabActivo.id.replace("tab-", "");
                    document.getElementById("diaSeleccionado").value = diaActivo;
                    document.getElementById("diaActivoTexto").textContent = diaActivo;
                }
            }

            // Evento al abrir el modal
            modal.addEventListener("show.bs.modal", actualizarDiaActivo);

            // Evento al hacer clic en las pestañas
            tabs.forEach(tab => {
                tab.addEventListener("click", actualizarDiaActivo);
            });
        });

       
      </script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const buttons = document.querySelectorAll('#diasTab .nav-link');
    
        buttons.forEach(btn => {
            btn.addEventListener('click', function () {
                const diaSeleccionado = this.id.replace('tab-', '');
    
                fetch("{% url 'set-dia-activo' %}", {
                    method: "POST",
                    headers: {
                        "X-CSRFToken": "{{ csrf_token }}",
                        "Content-Type": "application/x-www-form-urlencoded"
                    },
                    body: `dia_activo=${diaSeleccionado}`
                })
                .then(response => response.json())
                .then(data => {
                    if (data.status === "ok") {
                        console.log("Día activo actualizado:", diaSeleccionado);
                        // Aquí podés actualizar contenido si querés
                    }
                });
            });
        });
    });
    </script> -->
       
    <script src="{% static 'AdminVideos/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'AdminVideos/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'AdminVideos/js/sb-admin-2.min.js' %}"></script>
    <script src="{% static 'AdminVideos/vendor/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'AdminVideos/js/demo/chart-area-demo.js' %}"></script>
    <script src="{% static 'AdminVideos/js/demo/chart-pie-demo.js' %}"></script>
    <script src="{% static 'AdminVideos/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Inicialización de Tooltips y Popovers -->
    <!-- <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Activar tooltips en los elementos con data-bs-toggle="tooltip"
            const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
            tooltipTriggerList.forEach(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));

            // Inicializar popovers en los elementos con data-bs-toggle="popover"
            const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]');
            popoverTriggerList.forEach(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl));
        });
    </script> -->
</body>

</html>