{% extends "AdminVideos/pre-base.html" %}

{% load static %}

{% block pestanias-menues-platos %}


<div class="album py-5 bg-light">
   <section class="py-1 text-center container">
     <div class="row py-lg-1">
       <div class="col-lg-8 col-md-8 mx-auto">
         <h1 class="fw-light">Completá el formulario para enviar un mensaje al usuario que elijas.</h1>
       </div>
     </div>
   </section>
</div> 

<form method="post" enctype="multipart/form-data">
   <center>
      <p>    
           {% csrf_token %}
            <!-- Campo oculto para enviar plato id o lugar id-->
          <input type="hidden" name="id_elemento" value="{{ id_elemento }}">

          <!-- Campo oculto para enviar el nombre del amigue -->
          <input type="hidden" name="amigue" value="{{ amigue }}">

          <!-- Campo oculto para enviar el nombre del amigue -->
          <input type="hidden" name="tipo_mensaje" value="{{ tipo_elemento }}">
          <!-- <p>tipo mensaje:{{tipo_mensaje}}</p> -->

          
          <p>Compartiendo el {{ tipo_elemento }}: {{id_elemento}}</p>

          <p>Con: {{ amigue }}</p>
          <p>Tipo elemento: {{ tipo_elemento }}</p>

            <!-- {{form.as_p}} -->

            <label for="id_mensaje">Mensaje:</label>
            <textarea name="mensaje" cols="40" rows="10" maxlength="1000" required="" aria-invalid="true" id="id_mensaje"></textarea>

            <input type="submit" value="Enviar">
      </p>
    </center>
</form>
{% endblock %}