{% extends "AdminVideos/index.html" %}

{% load static %}

{% block un_video %}
<!-- 
<h1>Datos del Menú Elegido</h1>
<p><strong>Plato de Almuerzo:</strong> {{ menu_dia.platos_que_comemos.almuerzo.plato }}</p>
<p><strong>Plato de Cena:</strong> {{ menu_dia.platos_que_comemos.cena.plato }}</p>
<p><strong>Guarnición 1:</strong> {{ menu_dia.platos_que_comemos.guarnicion1 }}</p>
<p><strong>Guarnición 2:</strong> {{ menu_dia.platos_que_comemos.guarnicion2 }}</p>
<p><strong>Guarnición 3:</strong> {{ menu_dia.platos_que_comemos.guarnicion3 }}</p>
<p><strong>Guarnición 4:</strong> {{ menu_dia.platos_que_comemos.guarnicion4 }}</p>
<p><strong>Entrada 1:</strong> {{ menu_dia.platos_que_comemos.entrada1 }}</p>
<p><strong>Entrada 2:</strong> {{ menu_dia.platos_que_comemos.entrada2 }}</p>
<p><strong>Entrada 3:</strong> {{ menu_dia.platos_que_comemos.entrada3 }}</p>
<p><strong>Entrada 4:</strong> {{ menu_dia.platos_que_comemos.entrada4 }}</p>
<p><strong>Postre 1:</strong> {{ menu_dia.platos_que_comemos.postre1 }}</p>
<p><strong>Postre 2:</strong> {{ menu_dia.platos_que_comemos.postre2 }}</p> 
<p><strong>Salsa 1:</strong> {{ menu_dia.platos_que_comemos.salsa1 }}</p>
<p><strong>Salsa 2:</strong> {{ menu_dia.platos_que_comemos.salsa2 }}</p>
<p><strong>Salsa 3:</strong> {{ menu_dia.platos_que_comemos.salsa3 }}</p>
<p><strong>Salsa 4:</strong> {{ menu_dia.platos_que_comemos.salsa4 }}</p>
<p><strong>Trago 1:</strong> {{ menu_dia.platos_que_comemos.trago1 }}</p>
<p><strong>Trago 2:</strong> {{ menu_dia.platos_que_comemos.trago2 }}</p>
<p><strong>Dip 1:</strong> {{ menu_dia.platos_que_comemos.dip1 }}</p>
<p><strong>Dip 2:</strong> {{ menu_dia.platos_que_comemos.dip2 }}</p>
<p><strong>Dip 3:</strong> {{ menu_dia.platos_que_comemos.dip3 }}</p>
<p><strong>Dip 4:</strong> {{ menu_dia.platos_que_comemos.dip4 }}</p> -->



<h2 class="text-center font-weight-bold">Menú día {{ dia_del_menu }}</h2>

<form action="{% url 'grabar-menu' %}" method="post">

  {% csrf_token %}

  <div class="d-flex flex-column">

    <input type="hidden" name="fecha" value="{{ dia_del_menu }}">
    <h2 class="text-center">Almuerzo</h2>

    <div class="row">
      <div class="d-flex justify-content-center">
        <h3>Entrada</h3>
        <select name="entrada1">
          <option value="-----"></option>
          {% for entrada in entradas_presel %}
            <option value="{{ entrada }}" {% if entrada == ent1_sel %}selected{% endif %}>{{ entrada }}</option>          
          {% endfor %}
        </select>

        <select name="entrada2">
          <option value="-----"></option>
          {% for entrada in entradas_presel %}
            <option value="{{ entrada }}" {% if entrada == ent2_sel %}selected{% endif %}>{{ entrada }}</option>          
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="row">
      <div class="d-flex justify-content-center">
        <h3>Dips</h3>
        <select name="dip1">
          <option value="-----"></option>
          {% for dip in dips_presel %}
            <option value="{{ dip }}" {% if dip == dip1_sel %}selected{% endif %}>{{ dip }}</option>          
          {% endfor %}
        </select>

        <select name="dip2">
          <option value="-----"></option>
          {% for dip in dips_presel %}
            <option value="{{ dip }}" {% if dip == dip2_sel %}selected{% endif %}>{{ dip }}</option>          
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="row">
      <div class="d-flex justify-content-center">
        <h3>Tragos</h3>

        <select name="trago1">
          <option value="-----"></option>
          {% for trago in tragos_presel %}
            <option value="{{ trago }}" {% if trago == trago1_sel %}selected{% endif %}>{{ trago }}</option>          
          {% endfor %}
        </select>

      </div>
    </div>
    <div class="row">
      <div class="d-flex justify-content-center">
    <h3>Principal Almuerzo</h3>
    <select name="a">
      <option value="-----"></option>
      {% for principal in principales_presel %}
      <option value="{{ principal }}" {% if principal == almuerzo_sel %}selected{% endif %}>{{ principal }}</option>
      {% endfor %}
    </select>
  </div>
</div>

    <div class="row">
      <div class="d-flex justify-content-center">
       
        <h3>Salsas</h3>

        <select name="salsa1">
          <option value="-----"></option>
          {% for salsa in salsas_presel %}
            <option value="{{ salsa }}" {% if salsa == salsa1_sel %}selected{% endif %}>{{ salsa }}</option>          
          {% endfor %}
        </select> 


        <select name="salsa2">
          <option value="-----"></option>
          {% for salsa in salsas_presel %}
            <option value="{{ salsa }}" {% if salsa == salsa2_sel %}selected{% endif %}>{{ salsa }}</option>          
          {% endfor %}
        </select> 


      </div>
    </div>

    <div class="row">
      <div class="d-flex justify-content-center">
        <h3>Guarniciones</h3>

        <select name="guarnicion1">
          <option value="-----"></option>

          {% for guarnicion in guarniciones_presel %}
             <option value="{{ guarnicion }}" {% if guarnicion == guar1_sel %}selected{% endif %}>{{ guarnicion }}</option>          
         
          {% endfor %}

        </select>

        <select name="guarnicion2">
          <option value="-----"></option>

          {% for guarnicion in guarniciones_presel %}
            <option value="{{ guarnicion }}" {% if guarnicion == guar2_sel %}selected{% endif %}>{{ guarnicion }}</option>                   
          {% endfor %}

        </select>
      </div>
    </div>

    <div class="row">
      <div class="d-flex justify-content-center">
        <h3>Postre</h3>
        <select name="postre1">
          <option value="-----"></option>
          {% for postre in postres_presel %}
           <option value="{{ postre }}" {% if postre == post1_sel %}selected{% endif %}>{{ postre }}</option> 
          {% endfor %}
        </select>
      </div>
    </div>

    <br>
    <h2 class="text-center">Cena</h2>
    <div class="row">
      <div class="d-flex justify-content-center">
        <h3>Entrada</h3>
        <select name="entrada3">
          <option value="-----"></option>
          {% for entrada in entradas_presel %}
            <option value="{{ entrada }}" {% if entrada == ent3_sel %}selected{% endif %}>{{ entrada }}</option>          
          {% endfor %}
        </select>

        <select name="entrada4">
          <option value="-----"></option>
          {% for entrada in entradas_presel %}
          <option value="{{ entrada }}" {% if entrada == ent4_sel %}selected{% endif %}>{{ entrada }}</option>          

          {% endfor %}
        </select>
        
      </div>
    </div>

    <div class="row">
      <div class="d-flex justify-content-center">
        <h3>Dips</h3>
        <select name="dip3">
          <option value="-----"></option>
          {% for dip in dips_presel %}
            <option value="{{ dip }}" {% if dip == dip3_sel %}selected{% endif %}>{{ dip }}</option>          
          {% endfor %}
        </select>
      
        <select name="dip4">
          <option value="-----"></option>
          {% for dip in dips_presel %}
            <option value="{{ dip }}" {% if dip == dip4_sel %}selected{% endif %}>{{ dip }}</option>          
          {% endfor %}
        </select> 

      </div>
    </div>

    <div class="row">
      <div class="d-flex justify-content-center">
        <h3>Tragos</h3>

        <select name="trago2">
          <option value="-----"></option>
          {% for trago in tragos_presel %}
            <option value="{{ trago }}" {% if trago == trago2_sel %}selected{% endif %}>{{ trago }}</option>          
          {% endfor %}
        </select> 
        
        
      </div>
    </div>
 
    <div class="row">
      <div class="d-flex justify-content-center">
        <h3>Principal Cena</h3>
        <select name="c">
          <option value="-----"></option>


          {% for principal in principales_presel %}
            <option value="{{ principal }}" {% if principal == cena_sel %}selected{% endif %}>{{ principal }}</option>
          {% endfor %}

        </select>
     </div>
   </div>

    <div class="row">
      <div class="d-flex justify-content-center">
       
                <h3>Salsas</h3>

        <select name="salsa3">
          <option value="-----"></option>
          {% for salsa in salsas_presel %}
            <option value="{{ salsa }}" {% if salsa == salsa3_sel %}selected{% endif %}>{{ salsa }}</option>          
          {% endfor %}
        </select> 


        <select name="salsa4">
          <option value="-----"></option>
          {% for salsa in salsas_presel %}
            <option value="{{ salsa }}" {% if salsa == salsa4_sel %}selected{% endif %}>{{ salsa }}</option>          
          {% endfor %}
        </select> 


      </div>
    </div>

    <div class="row">
      <div class="d-flex justify-content-center">
        <h3>Guarniciones</h3>

        <select name="guarnicion3">
          <option value="-----"></option>

          {% for guarnicion in guarniciones_presel %}
            <option value="{{ guarnicion }}" {% if guarnicion == guar3_sel %}selected{% endif %}>{{ guarnicion }}</option>
          {% endfor %}

        </select>

        <select name="guarnicion4">
          <option value="-----"></option>

          {% for guarnicion in guarniciones_presel %}
           <option value="{{ guarnicion }}" {% if guarnicion == guar4_sel %}selected{% endif %}>{{ guarnicion }}</option>                    
          {% endfor %}


          </select>
      </div>
    </div>
    <div class="row">
       <div class="d-flex justify-content-center">
        <h3>Postre</h3>

        <select name="postre2">
          <option value="-----"></option>
          {% for postre in postres_presel %}
            <option value="{{ postre }}" {% if postre == post2_sel %}selected{% endif %}>{{ postre }}</option> 
          {% endfor %}
        </select>


      </div>
    </div>
  </div>

  <button type="submit">Guardar Menú</button>
</form>


{% endblock %}