{% extends "AdminVideos/index.html" %}

{% load static %}

{% block lista_platos %}

<h2 class="text-center font-weight-bold">Menú día {{ menu_dia.el_dia_en_que_comemos }}</h2>

<strong>{{ entradas_presel }}</strong>


<form action="{% url 'grabar-menu' %}" method="post">
  {% csrf_token %}

  {% if menu_dia.platos_que_comemos %}
    <div class="platos">
        <h3>Platos Asignados:</h3>
        <ul>
            {% for key, plato in menu_dia.platos_que_comemos.items %}
              <li>
                <strong>{{ key }} - {{ plato.plato }}</strong>
                <!-- Botón para eliminar el plato -->
                <button type="submit" name="eliminar_{{ key }}" class="btn btn-danger btn-sm">Eliminar</button>
              </li>
            {% endfor %}
        </ul>
    </div>
  {% else %}
    <p>No hay platos asignados para este día.</p>
  {% endif %}


  <h2 class="text-center fw-bold">Desayuno</h2>
  
<!-- Botón para agregar una entrada -->
<button type="button" class="btn btn-success btn-sm" data-bs-toggle="dropdown" aria-expanded="false">
  Agregar Entrada
</button>

<!-- Menú desplegable de entradas -->
<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  {% for entrada in entradas_presel %}
    <li><a class="dropdown-item" href="#">{{ entrada }}</a></li>
  {% endfor %}
</ul>


  
  <h2 class="text-center fw-bold">Almuerzo</h2>
  <!-- Botón para agregar un plato al almuerzo -->
  <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#agregarPlatoModal" data-comida="almuerzo">Agregar Plato</button>

  <h2 class="text-center fw-bold">Merienda</h2>
  <!-- Botón para agregar un plato a la merienda -->
  <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#agregarPlatoModal" data-comida="merienda">Agregar Plato</button>

  <h2 class="text-center fw-bold">Cena</h2>
  <!-- Botón para agregar un plato a la cena -->
  <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#agregarPlatoModal" data-comida="cena">Agregar Plato</button>

  <!-- Botón para enviar el formulario -->
  <button type="submit" class="btn btn-primary">Guardar Menú</button>
</form>



{% endblock %}