{% extends "AdminVideos/index.html" %}

{% load static %}

{% block un_video %}

        <H3>LISTA DE COMPRAS</H3>
        {% if lista_de_compras %}
          <ul>
            {% for item in lista_de_compras %}
              <li>{{ item }}</li>
            {% endfor %}

            <a href="https://wa.me/5491145342640?text={{ mensaje_whatsapp }}" target="_blank">Enviar lista por WhatsApp</a>

          </ul>
<!-- 
           <h2>{{ lista_de_compras }}</h2> -->
        {% else %}
           <h2>NO HAY INGREDIENTES PARA COMPRAR</h2>
        {% endif %}


{% endblock %}