{% extends "AdminVideos/base.html" %}

{% load static %}

{% block principal %}

<div class="row">
    <div class="col-md-4">

        <!-- <h5 >menues_del_usuario {{ menues_del_usuario|dictsort:"el_dia_en_que_comemos" }}</h5>  -->


        <section>
            <h4>Menúes Programados</h4>
        
            <form action="{% url 'menu-elegido' %}" method="post">
                {% csrf_token %}
            
                {% for menu in menues_del_usuario %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="bg-primary text-white p-2 rounded">{{ menu.el_dia_en_que_comemos|date:"l j F Y" }}</h5> <!-- Fondo azul con texto blanco -->
            
                        {% for plato_id, datos in menu.platos_que_comemos.items %}
                            <div class="form-check">
                                <input 
                                    type="checkbox" 
                                    id="plato{{ plato_id }}_{{ menu.el_dia_en_que_comemos|date:'Ymd' }}" 
                                    name="plato_seleccionado" 
                                    value="{{ plato_id }}_{{ menu.el_dia_en_que_comemos|date:'Ymd' }}" 
                                    class="form-check-input"
                                    {% if datos.elegido %} checked {% endif %}
                                >
                                <label for="plato{{ plato_id }}_{{ menu.el_dia_en_que_comemos|date:'Ymd' }}" class="form-check-label">
                                    {{ datos.plato }} - {{ datos.tipo }} ({{ datos.comida }})
                                </label>
                                <p class="small text-muted">{{ datos.ingredientes }}</p>
                            </div>
            
                            <!-- Recorrer variedades si existen -->
                            {% if datos.variedades %}
                                <div class="ml-4">
                                    {% for variedad_id, variedad in datos.variedades.items %}
                                        <div class="form-check">
                                            <input 
                                                type="checkbox" 
                                                id="variedad{{ variedad_id }}_{{ plato_id }}_{{ menu.el_dia_en_que_comemos|date:'Ymd' }}" 
                                                name="variedad_seleccionada" 
                                                value="{{ plato_id }}|{{ variedad.nombre }}" 
                                                class="form-check-input"
                                                {% if variedad.elegido %} checked {% endif %}
                                            >
                                            <label for="variedad{{ variedad_id }}_{{ plato_id }}_{{ menu.el_dia_en_que_comemos|date:'Ymd' }}" class="form-check-label">
                                                → {{ variedad.nombre }} ({{ variedad.ingredientes }})
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
            
                        {% endfor %}
                    </div>
                </div>
                {% empty %}
                    <p>No hay platos asignados.</p>
                {% endfor %}
            
        </section>
        
</div>


<div class="col-md-4">

            <h3>EDITA LISTA DE COMPRAS</h3>
                
                    {% if ingredientes_con_tengo_y_comentario %}
                        {% for ingrediente, valor  in ingredientes_con_tengo_y_comentario.items %}
                            <input type="checkbox" id="{{ ingrediente }}" name="ingrediente_a_comprar" value="{{ ingrediente }}"  {% if valor.estado == "no-tengo" %} checked {% endif %}>
                        
                            <label for="{{ ingrediente }}">{{ ingrediente }}</label>
                            <input type="search"  class="DocSearch-Input" id="{{ ingrediente }}_comentario" value="{{ valor.comentario }}" name="{{ ingrediente }}_comentario">

                            <br>
                        {% endfor %}
                    {% else %}
                    <div class="badge bg-primary text-wrap" style="width: 6rem;">
                        NO HAY INGREDIENTES PARA EDITAR
                      </div>
                    {% endif %}
                                    
</div>

<div class="col-md-4">
    <section>
        <H3>LISTA DE COMPRAS</H3>
        {% if lista_de_compras %}
          <ul>
            {% for item in lista_de_compras %}
              <li>{{ item }}</li>
            {% endfor %} 

            <a href="https://wa.me/5491145342640?text={{ mensaje_whatsapp }}" target="_blank">Enviar lista por WhatsApp</a>

          </ul>

        {% else %}
          <div class="badge bg-primary text-wrap" style="width: 6rem;">
            NO HAY INGREDIENTES PARA COMPRAR
          </div>
        {% endif %}

    </section>
</div>

<input type="submit" value="Actualizar" class="btn btn-success">

</form>


{% endblock %}