{% extends "AdminVideos/video_list_base.html" %}

{% load static %}

{% block filtro %}

<form method="POST">
  <div class="d-flex justify-content-start mx-3 gap-4 flex-wrap">

    {% csrf_token %}

    <span>Medios: {{ formulario.medios }}</span>
    <!-- <span>Categoría: {{ formulario.categoria }}</span> -->
    <!-- <span>Dificultad: {{ formulario.dificultad }}</span> -->

    <input type="search" placeholder="Buscar por palabra clave" {{ formulario.palabra_clave }} {% if  user.username  != "quecomemos" %}
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="quecomemos" value="quecomemos" id="quecomemos" {% if quecomemos_ck == "quecomemos" %} checked {% endif %}>
         <label class="form-check-label small" for="quecomemos">
          Sugerencia <br> quecomemos
        </label> 
         <!-- <span>Sugerencias: {{ formulario.dificultad }}</span>  -->
      </div>      
      
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="misplatos" value="misplatos" id="misplatos" {% if misplatos_ck == "misplatos" %} checked {% endif %}>
        <label class="form-check-label small" for="misplatos">
          Mis platos
        </label>
      </div>

      <!-- <span>De estación: {{ formulario.dificultad }}</span> -->

    {% else %}
        <!-- Campo oculto -->
        <input type="hidden" name="misplatos" value="misplatos">
    {% endif %}
       
    <button type="submit" class="btn btn-primary">Filtrar</button>
  </div>
</form>

{% endblock %}
<!--
en documentación de django buscar:

https://docs.djangoproject.com/en/5.1/topics/forms/ -->
