{% extends "AdminVideos/pre-base.html" %}

{% load static %}

{% block pestanias-menues-platos %}

{% block tipo-de-mensaje %}
{% endblock %}

<h5>Soy {{ user.profile.user }}</h5>

<h5>AMIGUES {{ amigues }}</h5>

{% if mensajes %}
  {% for mensaje in mensajes %}

    <div class="d-flex {% if mensaje.usuario_que_envia_fk == user %}justify-content-end{% else %}justify-content-start{% endif %} mb-0">
      <div
        class="p-1 rounded-3 shadow-sm {% if mensaje.usuario_que_envia_fk == user %}text-dark{% else %}text-white{% endif %}"
        style="max-width: 75%; background-color:
        {% if mensaje.usuario_que_envia_fk == user %}
          rgb(163, 198, 255, 0.25)
        {% else %}
          rgba(0, 98, 255, 0.75)
        {% endif %};"
      >
        <div class="mt-0">{{ mensaje.mensaje }}</div>
        <div class="small text-muted text-end" style="font-size: 0.50rem;">{{ mensaje.creado_el }}</div>
      </div>
    </div>

    <div class="mb-3 small text-end" style="font-size: 0.50rem;">Eliminar</div>

  {% endfor %}

{% else %}

  <h1 class="fw-light">No te enviaron mensajes aún.</h1>

{% endif %}

<form method="post">
  <center>
    {% csrf_token %}

    <p>Enviar mensaje a {{ form.initial.destinatario }}</p>

    <input type="hidden" name="destinatario" value="{{ form.initial.destinatario.id }}">

    <textarea name="mensaje" cols="40" rows="3" maxlength="1000" required aria-invalid="true" id="id_mensaje"></textarea>

    <p></p>

    <input type="submit" value="Enviar">
  </center>
</form>

{% endblock %}