{% extends "AdminVideos/index.html" %}

{% load static %}

{% block un_video %}

<section>
    <h1>Menúes Programados</h1>



    <form action="{% url 'menu-elegido' %}" method="post">
        {% csrf_token %}

        {% for fecha, platos in platos_por_dia.items %}

        <div class="card">
            <div class="card-body">
                <h5>{{ fecha }}</h5>
                <!-- <h5>{{ platos_por_dia }}</h5> -->


                {% if platos.almuerzo != '-----' %}

                <div class="plato-info">
                    <h6 class="card-subtitle mb-2 text-muted">{{ platos.almuerzo }}</h6>
                    <p class="card-text">{{ platos.almuerzo_info }}</p>


                    {% if platos.almuerzo_info %}

                    <input type="checkbox" id="excluir_almuerzo_{{ fecha }}" name="excluir_almuerzo"
                        value="{{ platos.almuerzo_info }}" checked>
                    <label for="excluir_almuerzo_{{ fecha }}">Plato incluido</label>
                    {% else %}
                    <p>No se encontraron ingredientes para el almuerzo.</p>
                    {% endif %}

                    {% for key, value in platos.variedades.items %}
                    {% if value.variedad %}
                    <p>Variedad: {{ value.variedad }}</p>
                    <h5>Ingredientes variedad: {{value.ingredientes_de_variedades}}</h5>
                    <input type="checkbox" id="incluir{{key}}" name="incluir{{key}}"
                        value="{{value.ingredientes_de_variedades}}" checked>
                    <label for="incluir{{key}}">Variedad incluida</label>
                    {% endif %}
                    {% endfor %}
                </div><br>
                {% endif %}
                {% if platos.cena != '-----' %}
                <div class="plato-info">
                    {% if platos.cena_info %}

                    <h6 class="card-subtitle mb-2 text-muted">{{ platos.cena }}</h6>

                    <p class="card-text">{{ platos.cena_info }}</p>

                    <input type="checkbox" id="excluir_cena_{{ fecha }}" name="excluir_cena"
                        value="{{ platos.cena_info }}" checked>
                    <label for="excluir_cena_{{ fecha }}">Excluir ingredientes</label>
                    {% else %}
                    <p>No se encontraron ingredientes para la cena.</p>
                    {% endif %}
                </div>
                {% endif %}

                <!-- <h5>VARIEDADES CENA: {{platos.variedades_cena}}</h5> -->

                {% for key, value in platos.variedades_cena.items %}
                {% if value.variedad %}
                <p>Variedad: {{ value.variedad }}</p>
                <h5>Ingredientes variedad: {{value.ingredientes_de_variedades}}</h5>
                <input type="checkbox" id="incluir{{key}}" name="incluir{{key}}"
                    value="{{value.ingredientes_de_variedades}}" checked>
                <label for="incluir{{key}}">Variedad incluida</label>
                {% endif %}
                {% endfor %}

            </div>
        </div>

        {% endfor %}
        <input type="submit" value="Enviar">

</section>


<section>
    <form>

        {% csrf_token %}
        <h3>EDITA LISTA DE COMPRAS</h3>
        <p>ingredientes_separados_por_comas: {{ ingredientes_separados_por_comas }}</p>

        {% for ingrediente in ingredientes_separados_por_comas %}
        <input type="checkbox" id="{{ ingrediente }}" name="ingrediente_a_comprar" value="{{ ingrediente }}" checked>
        <label for="{{ ingrediente }}">{{ ingrediente }}</label><br>
        <!-- <input type="text" id="{{ ingrediente }}_detalle" name="{{ ingrediente }}_detalle" placeholder="Detalles">-->
        {% endfor %}
        <input type="submit" value="Enviar">
    </form>

</section>


<section>
    <H3>LISTA DE COMPRAS
    </H3>
    <h2>{{ lista_de_compras }}</h2>
    <h2>ingredientes a excluir {{ ingredientes_a_excluir_almuerzo }}</h2>
    <h2>ingredientes a excluir cena {{ ingredientes_a_excluir_cena }}</h2>


</section>

{% endblock %}