{% extends "AdminVideos/video_list_base.html" %}

{% load static %}


{% block filtro %}
<form method="get">

      <p>
  
        Busca por ingrediente: <br><input type="search" name="la-busqueda">
  
      </p>
      <button type="submit">Enviar</button>
  
  
  </form>  
{% endblock %}   


{% block titulo_ok %}
   <h1 class="fw-light"> Estos son los platos que coinciden con tu búsqueda. </h1>
{% endblock %}

{% block mensaje %}
   <h1 class="fw-light"> No hay platos que coincidan con tu búsqueda. </h1>
   <p class="lead text-body-secondary">Todavía no se han agregado platos que coincidan con tu búsqueda.</p>
{% endblock %}  
