{% extends "AdminVideos/base.html" %}

{% load static %}


{% block principal %}

<div class="album py-5 bg-light">
    <section class="py-1 text-center container">
        <div class="row py-lg-1">
            <div class="col-lg-8 col-md-8 mx-auto">
                {% block tipo-de-formulario %}
                {% endblock %}
            </div>
        </div>
    </section>
</div>

    {% if form.errors %}
        <div style="color: red;">
            <p><strong>Errores en el formulario:</strong></p>
            <ul>
                {% for field, errors in form.errors.items %}
                    <li>{{ field }}: {{ errors|join:", " }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

<div style="margin-top:40px">
    <center>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {% block items %}
            {% endblock %}


                {% block variedades %}
                {% endblock %}

                <button type="submit">Guardar</button>

        </form>


    </center>
</div>


{% endblock %}