{% extends "AdminVideos/base.html" %}

{% load static %}


{% block principal %}

<div class="album py-5 bg-light">
    <section class="py-1 text-center container">
        <div class="row py-lg-1">
            <div class="col-lg-8 col-md-8 mx-auto">
                {% block tipo-de-formulario %}
                {% endblock %}
            </div>
        </div>
    </section>
</div>

    {% if form.errors %}
        <div style="color: red;">
            <p><strong>Errores en el formulario:</strong></p>
            <ul>
                {% for field, errors in form.errors.items %}
                    <li>{{ field }}: {{ errors|join:", " }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}


<div style="margin-top:40px">
    <center>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {% block items %}
            {% endblock %}


                {% block variedades %}
                {% endblock %}

                <button type="submit">Guardar</button>

        </form>


    </center>
</div>

{% if request.GET.guardado == "ok" %}
<div class="modal show d-block" tabindex="-1" role="dialog" style="background: rgba(0,0,0,0.5);">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">¡Guardado exitosamente!</h5>
      </div>
      <div class="modal-body">
        <p>¿Qué querés hacer ahora?</p>
      </div>
      <div class="modal-footer">
        <a class="btn btn-primary" href="{{ request.path }}?tipopag={{ request.GET.tipopag }}">Crear otro plato</a>
        <a class="btn btn-secondary" href="/">Ir a Home</a>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% if request.GET.modificado == "ok" %}
<div class="modal show d-block" tabindex="-1" role="dialog" style="background: rgba(0,0,0,0.5);">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">¡Modificado exitosamente!</h5>
      </div>
      <div class="modal-body">
        <p>¿Qué querés hacer ahora?</p>
      </div>
      <div class="modal-footer">
        <a class="btn btn-primary" href="/">Ir a Home</a>
        <a class="btn btn-secondary" href="{% url 'filtro-de-platos' %}">Ver todos mis platos</a>
      </div>
    </div>
  </div>
</div>
{% endif %}



<!-- Modal Bootstrap -->
<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="successModalLabel">¡Guardado exitosamente!</h5>
        </div>
        <div class="modal-body">
          ¿Qué querés hacer ahora?
        </div>
        <div class="modal-footer">
          <a class="btn btn-primary" href="{{ request.path }}?tipopag={{ request.GET.tipopag }}">Crear otro plato</a>
          <a class="btn btn-secondary" href="/">Ir a Home</a>
        </div>
      </div>
    </div>
  </div>
  
  

{% endblock %}