{% extends "AdminVideos/base.html" %}

{% load static %}


{% block principal %}

<div class="album py-5 bg-light">
    <section class="py-1 text-center container">
        <div class="row py-lg-1">
            <div class="col-lg-8 col-md-8 mx-auto">
                {% block tipo-de-formulario %}
                {% endblock %}
            </div>
        </div>
    </section>
</div>

<div style="margin-top:40px">
    <center>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>Nombre del Plato: {{ form.nombre_plato }}</p>
            <p>Receta: {{ form.receta }}</p>
            <p>Descripción del Plato: {{ form.descripcion_plato }}</p>
            <p>Ingredientes: {{ form.ingredientes }}</p>
            <p>Medios de cocción:
                {{ form.medios }} </p>
            <p>Categoría:
                {{ form.categoria }} </p>
            <p>Preparación:
                {{ form.dificultad }} </p>
            <p>Calorías:
                {{ form.calorias }} </p>


            <p>Tipo de plato: {{ form.tipo }}</p>

                {% block variedades %}
                {% endblock %}

                <p>Imagen: {{ form.image }}</p>
                <button type="submit">Guardar</button>

        </form>


    </center>
</div>


{% endblock %}