{% extends "AdminVideos/base.html" %}

{% load static %}

{% block principal %}

<div class="album py-5 bg-body-tertiary">
  <div class="container">
      <!-- <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3"> -->
        <div class="col">
            <div class="card shadow-sm">
              <img class="card-img-top" style="height: 225px; width: 100%; display: block" src="{{plato.image_url}}" data-holder-rendered="true">
              <div class="card-body">
                <strong><h3>{{ plato.nombre_plato }}</h3></strong>
                <strong><p class="card-text">Ingredientes: {{ plato.ingredientes }}</p></strong>
                <p class="card-text">Descripción: {{ plato.descripcion_plato }}</p>
                <p class="card-text">Receta: {{ plato.receta }}</p>
                <p class="card-text">Medios: {{ plato.medios }}</p>
                <p class="card-text">Categoría: {{ plato.categoria }}</p>
                <p class="card-text">Preparación: {{ plato.preparacion }}</p>
                <p class="card-text">Tipo: {{ plato.tipo }}</p>
                <p class="card-text">Calorías: {{ plato.calorias }}</p>
   
                <p></p>
                {% if user.id == plato.propietario.id %}

                    <!-- <i class="fa-solid fa-share-nodes" style="font-size: 1.5rem;" id="menu-trigger" style="cursor: pointer;"></i> -->

                    <!-- <select class="form-select d-none" id="menu-select" aria-label="Default select example"> -->
                    <a href="{% url 'videos-update' plato.id %}" type="button"  class="btn btn-sm btn-outline-secondary">Editar</a> 

                    <a href="{% url 'eliminar-plato' plato.id %}" type="button" class="btn btn-sm btn-outline-secondary">Eliminar</a>

                    <hr>

                    <!-- <select class="form-select" aria-label="Default select example">
                    <option selected>Compartir este plato con:</option>

                    {% for amigue in amigues %}                    
                            <option value="{{ amigue }}">{{ amigue }}</option>
                    {% endfor %}
                    </select>
   -->
                    
                  
                   <!-- <i class="fa-solid fa-share-nodes" style="font-size: 1.5rem;"></i> -->

                 
                  

                 <!-- <a class="nav-link"  href="#" data-toggle="modal" data-target="#PlatoModal"> 
                  <span>Editar</span></a> -->

              </div>
            </div>
                 <p></p>
                 <!-- <small class="text-muted">Subido por mi.</small>  -->
                {% else %}
              </div>
            </div>
                 <p></p>
                 <small class="text-muted">Sugerencia de Quecomemos</small> 
                {% endif %}
                  
            </div>

            {% if amigues %}

              <form method="post" action="{% url 'compartir-plato' %}">
                  {% csrf_token %}
                
                  <div class="mb-3">
                      <select id="amigue-select" name="amigue" class="form-select" aria-label="Seleccionar amigue">
                        <!-- Campo oculto para enviar el plato.id -->
                          <input type="hidden" name="plato_id" value="{{ plato.id }}">
                          <option selected disabled>Compartir este plato con:</option>
                          {% for amigue in amigues %}
                              <option value="{{ amigue }}">{{ amigue }}</option>
                          {% endfor %}
                      </select>
                  </div>
                  <button type="submit" class="btn btn-primary">Compartir</button>
              </form>
            {% endif %}

         </div>
        </div>
      <!-- </div> -->
    </div>
</div>



{% endblock %}
