{% extends "AdminVideos/base.html" %}

{% load static %}


{% block principal %}

<div class="album py-5 bg-light">
    <section class="py-1 text-center container">
        <div class="row py-lg-1">
            <div class="col-lg-8 col-md-8 mx-auto">
                <h1 class="fw-light">UPDATE.</h1>
            </div>
        </div>
    </section>
</div>

<div style="margin-top:40px">
    <center>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>Nombre del Plato: {{ form.nombre_plato }}</p>
            <p>Receta: {{ form.receta }}</p>
            <p>Descripción del Plato: {{ form.descripcion_plato }}</p>
            <p>Ingredientes: {{ form.ingredientes }}</p>
            <p>Medios de cocción:
                {{ form.medios }} </p>
            <p>Categoría:

                {{ form.categoria }} </p>
            <p>Preparación:
                {{ form.preparacion }} </p>
            <p>Calorías:

                {{ form.calorias }} </p>

            <p>VARIEDADES EN BASE {{ variedades_en_base }}</p>
           
                    <p>Variedad 1: <input type="text" name="variedad1" value="{{ variedades_en_base.variedad1.variedad|default:'' }}"></p>
                    <p>Ingredientes de variedad 1: <input type="text" name="ingredientes_de_variedad1" value="{{ variedades_en_base.variedad1.ingredientes_variedades|default:'' }}"></p>
                    <p>Variedad 2: <input type="text" name="variedad2" value="{{ variedades_en_base.variedad2.variedad|default:'' }}"></p>
                    <p>Ingredientes de variedad 2: <input type="text" name="ingredientes_de_variedad2" value="{{ variedades_en_base.variedad2.ingredientes_variedades|default:'' }}"></p>
                    <p>Variedad 3: <input type="text" name="variedad3" value="{{ variedades_en_base.variedad3.variedad|default:'' }}"></p>
                    <p>Ingredientes de variedad 3: <input type="text" name="ingredientes_de_variedad3" value="{{ variedades_en_base.variedad3.ingredientes_variedades|default:'' }}"></p>
                    <p>Variedad 4: <input type="text" name="variedad4" value="{{ variedades_en_base.variedad4.variedad|default:'' }}"></p>
                    <p>Ingredientes de variedad 4: <input type="text" name="ingredientes_de_variedad4" value="{{ variedades_en_base.variedad4.ingredientes_variedades|default:'' }}"></p>
                    <p>Variedad 5: <input type="text" name="variedad5" value="{{ variedades_en_base.variedad5.variedad|default:'' }}"></p>
                    <p>Ingredientes de variedad 5: <input type="text" name="ingredientes_de_variedad5" value="{{ variedades_en_base.variedad5.ingredientes_variedades|default:'' }}"></p>
                    <p>Variedad 6: <input type="text" name="variedad6" value="{{ variedades_en_base.variedad6.variedad|default:'' }}"></p>
                    <p>Ingredientes de variedad 6: <input type="text" name="ingredientes_de_variedad6" value="{{ variedades_en_base.variedad6.ingredientes_variedades|default:'' }}"></p>
                
                <p>Imagen: {{ form.image }}</p>
                <button type="submit">Guardar</button>

            </div>
        </form>


    </center>
</div>


{% endblock %}