<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Platos Elegidos</title>
</head>
<body>
    <h1>Platos Elegidos</h1>
    <p>Nombres de platos elegidos: {{ nombres_platos_elegidos }}</p>
    <p>platos_elegidos: {{ platos_elegidos }}</p>
    
    
    <ul>
        {% for plato in platos_elegidos %}
            <li>{{ plato.nombre_plato }}</li>
        {% empty %}
            <li>No hay platos elegidos</li>
        {% endfor %}
    </ul>
    <p>Último elegido: {{ ultimo_elegido }}</p>
</body>
</html>