{% extends "AdminVideos/base.html" %}
  
{% block pestanias-menues-platos %}

<!-- PESTAÑAS - MENÚES PROGRAMADOS - PLATOS -->




<div id="contenedor-menu-programado-dias">
  {% include "AdminVideos/partials/_menu_programado_dias.html" %}
</div>


  



<div class="border border-primary rounded p-2 position-relative m-2">
  <div class="sugerencias-platos-titulo-bar text-center mb-2">
    <h5 class="mb-0 fw-bold text-white">
      Sugerencias de
      <span id="sugerenciasPlatosTituloTipo"
            data-tipopag-actual="{{ tipopag|default:'Principal' }}">
        {% if tipopag == "Principal" %}
          Plato principal
        {% elif tipopag == "Guarnicion" %}
          Guarniciones
        {% elif tipopag == "Picada" %}
          Picadas armadas
        {% elif tipopag == "Ingrediente de picada" %}
          Ingredientes de picada
        {% elif tipopag == "Comerafuera" %}
          lugares para comer afuera
        {% elif tipopag == "Delivery" %}
          delivery
        {% elif tipopag == "LoQueTengo" %}
          lo que tengo
        {% else %}
          {{ tipopag }}
        {% endif %}
      </span>
    </h5>
  </div>


    <div class="shadow bg-dark p-1">
      {% block filtro %}{% endblock %}
    </div>

      {% block principal %}{% endblock %}

  </div>

</div>




<!-- FIN DE PESTAÑAS - MENÚES PROGRAMADOS - PLATOS -->

{% endblock %}
