{% extends "AdminVideos/base.html" %}
  
{% block pestanias-menues-platos %}

<!-- PESTAÑAS - MENÚES PROGRAMADOS - PLATOS -->




<div id="contenedor-menu-programado-dias">
  {% include "AdminVideos/partials/_menu_programado_dias.html" %}
</div>


  


  <div class="border border-primary rounded p-2 position-relative m-2">
   
<span class="position-absolute top-0 start-50 translate-middle bg-info px-2 py-0
                d-inline-block text-center rounded-pill"
          style="transform: translate(-50%, -50%); max-width: 92%; line-height: 1.15;">
      <span class="menu-programado-text text-primary">
        Sugerencias de
        {% if tipopag == "Principal" %}
          Plato principal
        {% else %}
          {{ tipopag }}
        {% endif %}
      </span>
    </span>

    <div class="shadow bg-dark p-1">
      {% block filtro %}{% endblock %}
    </div>

      {% block principal %}{% endblock %}

  </div>

</div>




<!-- FIN DE PESTAÑAS - MENÚES PROGRAMADOS - PLATOS -->

{% endblock %}
