{% extends "AdminVideos/pre-base.html" %}

{% load static %}

{% block principal %}

{% if form.errors %}
  <div class="alert alert-danger">
    <p>Corregí los siguientes errores:</p>

    <ul>
      {% for field, errors in form.errors.items %}
        {% for error in errors %}
          <li>{{ error }}</li>
        {% endfor %}
      {% endfor %}
    </ul>
  </div>
{% endif %}

<div class="album py-5 bg-light">
  <section class="py-1 text-center container">
    <div class="row py-lg-1">
      <div class="col-lg-8 col-md-8 mx-auto">
        <h1 class="fw-light">Solicitar amistad</h1>
      </div>
    </div>
  </section>
</div>

<form method="post">
  {% csrf_token %}

  <div class="container text-center my-4">
    <div class="mb-3">
      {{ form.destinatario }}
    </div>

    <button type="submit" class="btn btn-primary">
      Enviar solicitud
    </button>
  </div>
</form>

{% endblock %}