{% extends "AdminVideos/index.html" %}

{% load static %}

{% block un_video %}

<section>

  {% block filtro %}

  {% endblock %}
  <!-- 
  <form action="{% url 'random' %}" method="get">
    el token debería usarse solo en formularios POST 
    {% csrf_token %}

    <button type="submit" class="btn btn-primary">¡¡ RANDOM !!</button>
  </form> -->
</section>

<section>
  <h6>TIPO DE VISTA ESTABLE - TIPO DE VISTA {{ tipo_de_vista_estable }}</h6>

  <h6>CANTIDAD DE PLATOS SUGERIDOS {{ cantidad_platos_sugeridos }}</h6>
  <h6>CANTIDAD SUGERIBLES SEGUN FILTRO {{ cantidad_platos_sugeribles }}</h6>
  
  <form action="{% url 'reiniciar-sugeridos' %}" method="GET">
    <input type="checkbox" id="borrar-sugeribles" name="borrar-lista-sugeribles" value="borrar-sugeribles" checked>
    <button type="submit">Reiniciar sugeribles</button>
  </form>


  {% for plato in platos %}
  <div class="d-flex flex-row">
    <img style="width: 20%" src="{{plato.image_url}}" data-holder-rendered="true">
    <div>
      <strong>
        <h6>{{ plato.nombre_plato }}</h6>
      </strong>
      <h6>DESCRIPCIÓN {{ plato.descripcion_plato }}</h6>
      <a href="{% url 'videos-detail' plato.id %}" type="button" class="btn btn-sm btn-outline-secondary">Detalle del
        plato</a>
      {% if user.id == plato.propietario.id %}
      <a href="{% url 'videos-delete' plato.id %}" type="button" class="btn btn-sm btn-outline-secondary">Eliminar<a>
          <a href="{% url 'videos-update' plato.id %}" type="button" class="btn btn-sm btn-outline-secondary">Editar</a>
          <small class="text-muted">Subido por mi.</small>
          {% else %}
          <small class="text-muted">Subido por {{ plato.propietario }}</small>
          {% endif %}

          {% if plato.nombre_plato in elegidos %}
          <form action="{% url 'plato-elegido' %}" method="GET">
            <input type="hidden" id="opcion{{ plato.id }}" name="opcion1" value="{{ plato.nombre_plato }}">
            <input type="checkbox" id="borrar" name="borrar" value="borrar" checked>
            <button type="submit">Borrar</button>
          </form>
          {% else %}
          <form action="{% url 'plato-elegido' %}" method="GET">
            <label for="opcion{{ plato.id }}">Elegir este plato:</label>
            <input type="checkbox" id="opcion{{ plato.id }}" name="opcion1" value="{{ plato.nombre_plato }}">
            <button type="submit">Enviar</button>
          </form>
          {% endif %}


    </div>
  </div>
  <p>-------------------------</p>
  {% endfor %}

</section>

<section>


  <section>
    <!-- <h3> ARMADO DEL MENÚ.</h3> -->

    <select class="mt-1 btn btn-primary" name="modo-armado">
      <option value="modo-diario">MODO DIARIO</option>
      <option value="modo-celebracion">MODO CELEBRACIÓN</option>
    </select>
    
    <form action="{% url 'grabar-menu' %}" method="post">

      {% csrf_token %}

      <div class="mt-2 btn btn-primary">
        <h5>{{ fecha_actual|date:"d-m-y" }} </h5>
        
        <select name="lunes-a">
          <option value="-----">Elegir plato</option>
          {% for elegido in elegidos %}
          <option value="{{ elegido }}">{{ elegido }}</option>
          {% endfor %}
        </select>
        <br>
        <select name="lunes-c">
          <option value="-----">Elegir plato</option>
          {% for elegido in elegidos %}
          <option value="{{ elegido }}">{{ elegido }}</option>
          {% endfor %}

        </select>
      </div>
      <br>

      <div class="mt-2 btn btn-primary">
        <h5>Martes</h5>

        <select name="martes-a">
          <option value="-----">Elegir plato</option>

          {% for elegido in elegidos %}
          <option value="{{ elegido }}">{{ elegido }}</option>
          {% endfor %}
        </select>
        <br>
        <select name="martes-c">
          <option value="-----">Elegir plato</option>

          {% for elegido in elegidos %}
          <option value="{{ elegido }}">{{ elegido }}</option>
          {% endfor %}

        </select>
      </div>
      <br>

      <div class="mt-2 btn btn-primary">
        <h5>Miércoles</h5>

        <select name="miercoles-a">
          <option value="-----">Elegir plato</option>

          {% for elegido in elegidos %}
          <option value="{{ elegido }}">{{ elegido }}</option>
          {% endfor %}

        </select>

        <br>
        <select name="miercoles-c">
          <option value="-----">Elegir plato</option>

          {% for elegido in elegidos %}
          <option value="{{ elegido }}">{{ elegido }}</option>
          {% endfor %}

        </select>

      </div>
      <br>

      <div class="mt-2 btn btn-primary">
        <h5>Jueves</h5>

        <select name="jueves-a">
          <option value="-----">Elegir plato</option>

          {% for elegido in elegidos %}
          <option value="{{ elegido }}">{{ elegido }}</option>
          {% endfor %}

        </select>
        <br>
        <select name="jueves-c">
          <option value="-----">Elegir plato</option>

          {% for elegido in elegidos %}
          <option value="{{ elegido }}">{{ elegido }}</option>
          {% endfor %}

        </select>
      </div>
      <br>

      <div class="mt-2 btn btn-primary">
        <h5>Viernes</h5>

        <select name="viernes-a">
          <option value="-----">Elegir plato</option>

          {% for elegido in elegidos %}
          <option value="{{ elegido }}">{{ elegido }}</option>
          {% endfor %}
          <option value="-----">-----</option>

        </select>
        <br>
        <select name="viernes-c">
          {% for elegido in elegidos %}
          <option value="{{ elegido }}">{{ elegido }}</option>
          {% endfor %}

        </select>
      </div>
      <br>

      <div class="mt-2 btn btn-primary">
        <h5>Sábado</h5>

        <select name="sabado-a">
          <option value="-----">Elegir plato</option>

          {% for elegido in elegidos %}
          <option value="{{ elegido }}">{{ elegido }}</option>
          {% endfor %}

        </select>
        <br>
        <select name="sabado-c">
          <option value="-----">Elegir plato</option>

          {% for elegido in elegidos %}
          <option value="{{ elegido }}">{{ elegido }}</option>
          {% endfor %}

        </select>
      </div>
      <br>

      <div class="mt-2 btn btn-primary">
        <h5>Domingo</h5>

        <select name="domingo-a">
          <option value="-----">Elegir plato</option>

          {% for elegido in elegidos %}
          <option value="{{ elegido }}">{{ elegido }}</option>
          {% endfor %}

        </select>
        <br>
        <select name="domingo-c">
          <option value="-----">Elegir plato</option>

          {% for elegido in elegidos %}
          <option value="{{ elegido }}">{{ elegido }}</option>
          {% endfor %}

        </select>

      </div>
      <br>
      <button type="submit">Enviar</button>
    </form>
  </section>


  </div>


  <!-- </form> -->

  </div>
</section>


{% endblock %}