{% extends "AdminVideos/index.html" %}

{% load static %}

{% block un_video %}

<!-- <div class="armado"> -->


<section>
  <form method="get">

    <p>

      Busca por ingrediente: <br><input type="search" name="la-busqueda">

      <button type="submit" ">Buscar</button>
      </p>

      <p>
        Ingredientes: <br>
      
        <select name="tipo-de-vista">
          <option value="seleccionados"> ----- </option>
          <option value="seleccionados">Veggie</option>
          <option value="todos">Vaca</option>
          <option value="todos">Cordero</option>
          <option value="todos">Pollo</option>
          <option value="todos">Cerdo</option>
          <option value="todos">Marisco</option>
          <option value="todos">Pasta</option>
          <option value="todos">Pescado</option>
          <option value="todos">Lácteos</option>
          <option value="todos">Legumbres</option>

        </select>
        <button type="submit">Enviar</button>
      
      </p>

      <p>
        Medios: <br>
      
        <select name="tipo-de-vista">
          <option value="seleccionados"> ----- </option>
          <option value="seleccionados">Horno</option>
          <option value="todos">Cocina</option>
          <option value="todos">Parrila</option>
          <option value="todos">Wok</option>
          <option value="todos">Sin Cocción</option>
        </select>
        <button type="submit">Enviar</button>
      
      </p>
      <p>
        Tipo de preparación: <br>
      
        <select name="tipo-de-vista">
          <option value="seleccionados"> ----- </option>
          <option value="seleccionados">Mucho</option>
          <option value="todos">Poco</option>
          <option value="todos">Nada</option>

        </select>
        <button type="submit">Enviar</button>
      
      </p>
      <p>
        Categoría: <br>
      
        <select name="tipo-de-vista">
          <option value="seleccionados"> ----- </option>

          <option value="seleccionados">Común</option>
          <option value="todos">Especial</option>
        </select>
        <button type="submit">Enviar</button>
      
      </p>

      <p>
        Tipo: <br>
      
        <select name="tipo-de-vista">
          <option value="seleccionados"> ----- </option>

          <option value="seleccionados">Plato principal</option>
          <option value="todos">Entrada</option>
          <option value="todos">Salsa</option>
          <option value="todos">Postre</option>
          <option value="todos">Torta</option>
          <option value="todos">Untable</option>
          <option value="todos">Guarnición</option>
        </select>
        <button type="submit">Enviar</button>
      
      </p>

      <p>
        Liviano - Calórico: <br>
      
        <select name="tipo-de-vista">
          <option value="seleccionados"> ----- </option>

          <option value="seleccionados"> ----- </option>
          <option value="seleccionados">Calórico</option>
          <option value="todos">Normal</option>
          <option value="todos">Liviano</option>

        </select>
        <button type="submit">Enviar</button>
      
      </p>
      

    </form>

</section>

<section>
  <p>Tipo de vista: </p><br>
  <form action="{% url 'menu-desplegable' %}" method=" get">
        {% csrf_token %}
        <select name="tipo-de-vista">
  <option value="todos">Todos</option>
  <option value="seleccionados" {% if ultimo_elegido == 'seleccionados' %} selected {% endif %}>Seleccionados</option>
  <option value="de-otros" {% if ultimo_elegido == 'de-otros' %} selected {% endif %}>Solo platos de los otros</option>
  <option value="solo-mios" {% if ultimo_elegido == 'solo-mios' %} selected {% endif %}>Solo mis platos</option>
</select>
        <button type="submit">Enviar</button>
  </form>

  {% for plato in platos %}
  <div class="d-flex flex-row">
    <img style="width: 20%" src="{{plato.image_url}}" data-holder-rendered="true">
    <div>
      <strong>
        <h6>{{ plato.nombre_plato }}</h6>
      </strong>
      <h6>DESCRIPCIÓN {{ plato.descripcion_plato }}</h6>
      <a href="{% url 'videos-detail' plato.id %}" type="button" class="btn btn-sm btn-outline-secondary">Detalle del
        plato</a>
      {% if user.id == plato.propietario.id %}
      <a href="{% url 'videos-delete' plato.id %}" type="button" class="btn btn-sm btn-outline-secondary">Eliminar<a>
          <a href="{% url 'videos-update' plato.id %}" type="button" class="btn btn-sm btn-outline-secondary">Editar</a>
          <small class="text-muted">Subido por mi.</small>
          {% else %}
          <small class="text-muted">Subido por {{ plato.propietario.id }}</small>
          {% endif %}

          {% for elegido in elegidos %}
          {% if plato.nombre_plato == elegido.nombre_plato_elegido %}
          <form action="{% url 'plato-elegido' %}" method="GET">
            <input type="hidden" id="opcion{{ plato.id }}" name="opcion1" value="{{ plato.nombre_plato }}">
            <input type="checkbox" id="borrar" name="borrar" value="borrar" checked>
            <button type="submit">Borrar</button>
          </form>
          {% endif %}

          {% endfor %}
        {% if ultimo_elegido != 'seleccionados' %}
            <form action="{% url 'plato-elegido' %}" method="GET">
              <label for="opcion{{ plato.id }}">Elegir este plato:</label>
              <input type="checkbox" id="opcion{{ plato.id }}" name="opcion1" value="{{ plato.nombre_plato }}">
              <button type="submit">Enviar</button>
            </form>
        {% endif %}


    </div>
  </div>
  <p>-------------------------</p>
  {% endfor %}


</section>

<section>


    <section>
      <h3> ARMADO DEL MENÚ.</h3>


      <form action="{% url 'grabar-menu' %}" method="post">

        {% csrf_token %}

        <div class="mt-5 btn btn-primary">
          <h5>Lunes</h5>
          <select name="lunes-a">
            {% for elegido in elegidos %}
            <option value="{{ elegido.nombre_plato_elegido }}">{{ elegido.nombre_plato_elegido }}</option>
            {% endfor %}
          </select>
          <br>
          <select name="lunes-c">
            {% for elegido in elegidos %}
            <option value="{{ elegido.nombre_plato_elegido }}">{{ elegido.nombre_plato_elegido }}</option>
            {% endfor %}
          </select>
        </div>
        <br>

        <div class="mt-4 btn btn-primary">
          <h5>Martes</h5>

          <select name="martes-a">
            {% for elegido in elegidos %}
            <option value="{{ elegido.nombre_plato_elegido }}">{{ elegido.nombre_plato_elegido }}</option>
            {% endfor %}
          </select>
          <br>
          <select name="martes-c">
            {% for elegido in elegidos %}
            <option value="{{ elegido.nombre_plato_elegido }}">{{ elegido.nombre_plato_elegido }}</option>
            {% endfor %}
          </select>
        </div>
        <br>

        <div class="mt-4 btn btn-primary">
          <h5>Miércoles</h5>

          <select name="miercoles-a">
            {% for elegido in elegidos %}
            <option value="{{ elegido.nombre_plato_elegido }}">{{ elegido.nombre_plato_elegido }}</option>
            {% endfor %}
          </select>

          <br>
          <select name="miercoles-c">
            {% for elegido in elegidos %}
            <option value="{{ elegido.nombre_plato_elegido }}">{{ elegido.nombre_plato_elegido }}</option>
            {% endfor %}
          </select>

        </div>
        <br>

        <div class="mt-5 btn btn-primary">
          <h5>Jueves</h5>

          <select name="jueves-a">
            {% for elegido in elegidos %}
            <option value="{{ elegido.nombre_plato_elegido }}">{{ elegido.nombre_plato_elegido }}</option>
            {% endfor %}
          </select>
          <br>
          <select name="jueves-c">
            {% for elegido in elegidos %}
            <option value="{{ elegido.nombre_plato_elegido }}">{{ elegido.nombre_plato_elegido }}</option>
            {% endfor %}
          </select>
        </div>
        <br>

        <div class="mt-4 btn btn-primary">
          <h5>Viernes</h5>

          <select name="viernes-a">
            {% for elegido in elegidos %}
            <option value="{{ elegido.nombre_plato_elegido }}">{{ elegido.nombre_plato_elegido }}</option>
            {% endfor %}
          </select>
          <br>
          <select name="viernes-c">
            {% for elegido in elegidos %}
            <option value="{{ elegido.nombre_plato_elegido }}">{{ elegido.nombre_plato_elegido }}</option>
            {% endfor %}
          </select>
        </div>
        <br>

        <div class="mt-5 btn btn-primary">
          <h5>Sábado</h5>

          <select name="sabado-a">
            {% for elegido in elegidos %}
            <option value="{{ elegido.nombre_plato_elegido }}">{{ elegido.nombre_plato_elegido }}</option>
            {% endfor %}
          </select>
          <br>
          <select name="sabado-c">
            {% for elegido in elegidos %}
            <option value="{{ elegido.nombre_plato_elegido }}">{{ elegido.nombre_plato_elegido }}</option>
            {% endfor %}
          </select>
        </div>
        <br>

        <div class="mt-4 btn btn-primary">
          <h5>Domingo</h5>

          <select name="domingo-a">
            {% for elegido in elegidos %}
            <option value="{{ elegido.nombre_plato_elegido }}">{{ elegido.nombre_plato_elegido }}</option>
            {% endfor %}
          </select>
          <br>
          <select name="domingo-c">
            {% for elegido in elegidos %}
            <option value="{{ elegido.nombre_plato_elegido }}">{{ elegido.nombre_plato_elegido }}</option>
            {% endfor %}
          </select>

        </div>
        <br>
        <input type="hidden" id="fecha_actual" name="fecha_actual" value="{{ fecha_actual }}">
        <button type="submit">Enviar</button>
      </form>
    </section>


  </div>


  </form>

  </div>
</section>


{% endblock %}